#individual {
    dt {
        padding-top: 1rem;
        margin: 0;
        margin-bottom: 0.5rem;
        font-variant: normal;

        span.page-line-ref {
            font-weight: bold;
            padding-right: 0.5rem;
        }
    }
    dd {
        padding: 0;
        margin: 0;

        @media screen and (min-width: 1024px) {
            padding-bottom: 1rem;
            border-bottom: 1px solid #cacaca;
        }
    }
}
