/**
 * Article grid styling
 */
.article-preview {
    margin-bottom: 2 * $global-margin;
    position: relative;

    &.narrow {
        .cell {
            width: 100%;
        }
    }

    nav {
        margin-bottom: 0.5rem;

        @breakpoint(medium) {
            margin-bottom: 0;
        }
    }
}

div.line-block {
    margin-bottom: $global-margin;
}
