/**
 * Footer styling
 */
footer {
    font-size: 80%;
    color: lighten($body-font-color, 20%);
    border-top: 1px solid $light-gray;
    margin-top: $global-margin;
    margin-bottom: $global-margin;
    padding-top: $global-margin;

    h2 {
        font-size: rem-calc(16);
    }

    ul.menu {
        li {
            a {
                padding: $global-padding / 3 $global-padding $global-padding / 3 0;
            }
        }
    }

    nav {
        &:last-child {
            @include breakpoint(small only) {
                margin-top: $global-margin;
            }
        }
    }
}
