/**
 * Generic styling
 */
ul.no-margin, ol.no-margin {
    margin-left: 0;
}

aside {
    font-size: 80%;
}

.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sticky {
    position: sticky;
    top: 4rem;
}

.hidden {
    display: none;
}

.overflow-hidden {
    overflow: hidden;
}

.margin-top-wide {
    margin-top: $global-margin * 2;
}

.margin-left {
    margin-left: $global-margin;
}

.margin-bottom {
    margin-bottom: $global-margin;
}

.margin-bottom-wide {
    margin-bottom: $global-margin * 2;
}

.padding-left-wide {
    padding-left: $global-padding * 2;
}

ul, ol {
    &.margin-left {
        margin-left: $global-margin;
    }
}
