svg.icon {
    width: rem-calc(18);
    height: rem-calc(18);

    &.large {
        width: rem-calc(24);
        height: rem-calc(24);
    }

    &.white {
        path {
            stroke: $white;
            fill: $white;
        }
    }

    &.primary {
        path {
            stroke: $primary-color;
            fill: $primary-color;
        }
    }
}
