.image-viewer {
    &.automove {
        ul.image-viewer-images {
            li {
                @include breakpoint(medium) {
                    figcaption {
                        visibility: hidden;
                    }
                }

                div {
                    visibility: hidden;
                }
            }
        }
    }

    nav {
        ul {
            height: 70vh;
            overflow-y: auto;
            position: relative;

            a {
                &[aria-current="true"] {
                    color: $black;
                }
            }
        }
    }

    .image-viewer-image {
        padding-left: 0;
        padding-right: 0;
        margin-left: 0;
        margin-bottom: 0;
        height: 70vh;
        position: relative;

        figure {
            width: 100%;
            height: 100%;
            background: $light-gray;

            picture {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            figcaption {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background: #222222cc;
                color: $white;
                box-sizing: border-box;
                padding: $global-padding/3 $global-padding/2;
                z-index: 2;
                transition: 0.5s opacity;
                opacity: 1;
            }
        }

        div {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: #222222cc;
            color: $white;
            box-sizing: border-box;
            font-size: 10pt;
            padding: $global-padding/3 $global-padding/2;
            z-index: 2;
            opacity: 1;
            transition: 0.5s opacity;

            @include breakpoint(small only) {
                visibility: hidden;
            }

            p.source {
                font-size: 9pt;
            }

            p:last-child {
                margin-bottom: 0;
            }

            span {
                position: absolute;
                right: 0;
                top: 0;
                transform: translateY(-100%);
                background: #222222cc;
                font-size: 0;
                box-sizing: border-box;
                display: block;

                a {
                    display: block;
                    padding: $global-padding/2;

                    &:last-child {
                        display: none;
                    }
                }
            }
        }

        &.minimised {
            figcaption {
                height: 1px;
                padding-top: 0;
                padding-bottom: 0;
                overflow: hidden;
            }

            div {
                padding-top: 1px;
                padding-bottom: 0;

                p {
                    display: none;
                }

                span {
                    a {
                        &:first-child {
                            display: none;
                        }

                        &:last-child {
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
