/**
 * Metadata styling
 */
div.metadata {
    font-size: 80%;
    position:relative;
    top: -0.5rem;
    color: lighten($black, 20%);
}
div.classification {
    font-size: 80%;
    color: lighten($black, 20%);
}
aside.metadata {
    font-family: 'Merriweather Sans', Arial, sans-serif;

    dt {
        font-weight: 300;
    }
    
    dd {
        font-weight: 300;
    }
}
