/**
 * Metadata styling
 */
.metadata {
    font-size: 80%;
    position:relative;
    top: -0.5rem;
    color: lighten($black, 20%);
}
.classification {
    font-size: 80%;
    color: lighten($black, 20%);
}
aside {
    font-family: 'Merriweather Sans', Arial, sans-serif;
}
