.text-extract {
    h2 {
        font-size: rem-calc(14);
        font-weight: normal;
        font-variant: small-caps;
    }

    div.extract {
        font-size: rem-calc(13);
    }

    div.buttons {
        text-align: right;
    }
}
/**
 * Reader formatting
 */
.reader-overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #ffffffaa;
    z-index: 1000;
    transition: 0.5s background-color;

    &.hidden {
        display: block;
        visibility: hidden;
        background-color: #ffffff00;
        z-index: -1;
    }

    #app {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $white;
        overflow: hidden;

        @include breakpoint(large) {
            left: 50%;
            top: 5%;
            max-width: 73rem;
            max-height: 90%;
            transform: translateX(-50%);
            box-shadow: 0 0 20px $dark-gray;
        }

        &.mode-small {
            div.small-menu-open {
                box-shadow: 0 0 5px $dark-gray;
                ul {
                    flex-direction: column;
                }

                a[aria-checked="true"] {
                    color: $black;
                }
            }

            main {
                > div {
                    box-shadow: 0 0 5px $dark-gray;
                }
            }

            nav.main {
                a {
                    display: inline-block;
                    padding: $global-padding/2 $global-padding $global-padding/4 $global-padding;
                }
            }

            .tei-reader > main.text-reader > article > aside > a {
                display: block;
            }
        }

        &.mode-large {
            nav.main {
                li:last-child {
                    flex: 1 1 auto;
                    text-align: right;

                    a {
                        width: 100%;
                    }
                }

                a {
                    display: inline-block;
                    padding: $global-padding/2 $global-padding $global-padding/4 $global-padding;
                    border-bottom: 2px solid $light-gray;

                    &[aria-checked="true"] {
                        border-bottom-color: $primary-color;
                    }
                }
            }

            nav.headings {
                padding-top: $global-padding;
                border-right: 1px solid $light-gray;

                a {
                    display: block;
                    color: $black;
                    font-size: 10pt;
                    padding: $global-padding/2 $global-padding;

                    &[aria-checked="true"] {
                        font-weight: bold;
                    }
                }
            }

            .tei-reader > main.text-reader > article > aside > a {
                display: block;
            }
        }

        article {
            font-family: 'Merriweather', Arial, sans-serif;
            font-size: 11pt;

            aside {
                border-top: 1px solid $light-gray;
                box-shadow: 0 0 10px $dark-gray;
            }
        }

        aside {
            border-left: 1px solid $light-gray;
        }

        @for $width from 0 through 200 {
            &[data-marginleft="#{$width/10}"] {
                margin-left: #{$width/10}cm;
            }
            &[data-marginright="#{$width/10}"] {
                margin-right: #{$width/10}cm;
            }
            &[data-margintop="#{$width/10}"] {
                margin-top: #{$width/10}cm;
            }
            &[data-marginbottom="#{$width/10}"] {
                margin-bottom: #{$width/10}cm;
            }
            &[data-firstlineindent="#{$width/10}"] {
                text-indent: #{$width/10}cm;
            }
        }

        &[data-textalign="center"] {
            text-align: center;
        }

        &[data-textalign="right"] {
            text-align: right;
        }

        &[data-textalign="justify"] {
            text-align: justify;
        }

        .node-heading {
            font-weight: bold;
            text-align: center;

            &[data-level="1"] {
                font-size: 15pt;
            }

            &[data-level="2"] {
                font-size: 13pt;
            }

            &[data-level="3"] {
                font-size: 12pt;
            }


            &[data-level="4"] {
                font-size: 11pt;
            }
        }

        .node-lineGroup {
            margin: 1rem 0;
        }

        .node-pageBegin {
            font-size: 80%;
            font-style: italic;

            &::before {
                content: '[';
            }

            &::after {
                content: ']';
            }
        }

        .node-foreignLanguage {
            font-weight: 300;
        }

        .node-annotationMarker {
            text-decoration: underline dotted;
            color: $black;
        }

        .node-annotationGlobal {
            text-decoration: underline dotted;
            color: $black;
        }

        .node-footnoteMarker {
            text-decoration: underline dotted;
            color: $black;
        }

        .node-externalLink {
            text-decoration: underline dotted;
            color: $black;
            cursor: pointer;

            &::after {
                content: "";
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='width:16px;height:16px' viewBox='0 0 24 24'%3E%3Cpath fill='currentColor' d='M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z' /%3E%3C/svg%3E");
                width: 16px;
                height: 16px;
                display: inline-block;
                padding-left: 0.1rem;
                vertical-align: middle;
            }
        }

        .node-quotation {
            font-style: italic;
        }

        .node-sourceList {
            .node-source {
            }
        }

        .node-lineGroup {
            margin-top: 1rem;
            margin-left: 2rem;

            .node-line {
            }
        }

        .node-speaker {
            font-variant: small-caps;

            + .node-lineGroup {
                margin-top: 0;
            }
        }

        .node-speech {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        .node-staging {
            font-size: 80%;
            font-variant: normal;
        }


        .node-pageLineRef {
            font-weight: bold;
        }

        .node-wordRange {
            padding-left: $global-padding;
        }

        .node-sic {
            font-style: italic;
        }

        .node-reading {
            font-style: italic;
        }

        .node-lemma {
            font-style: italic;

            &::after {
                content: ' ]';
                font-style: normal;
            }
        }

        .node-missing {
            &::before {
                content: '\25fc';
                vertical-align: sub;
            }
            &::after {
                content: '\25fc';
                vertical-align: super;
            }
        }

        .node-signed {
            font-weight: bold;
        }

        .mark-letterSparse {
            letter-spacing: 1.5pt;
        }

        .mark-fontWeightBold {
            font-weight: 700;
        }

        .mark-fontStyleItalic {
            font-style: italic;
        }

        .mark-fontSize {
            &[data-size="small"] {
                font-size: 10pt;
            }

            &[data-size="medium"] {
                font-size: 13pt;
            }

            &[data-size="large"] {
                font-size: 15pt;
            }
        }

        .mark-sup {
            vertical-align: super;
            font-size: 80%;
        }
    }
}
