/**
 * Reader formatting
 */
 // Generic formatting
 .page-break {
     font-size: 80%;
     font-style: italic;

     &::before {
         content: '['
     }
     &::after {
         content: ']'
     }
 }
 .letter-sparse {
     letter-spacing: 3pt;
     padding-left: 3pt;
 }
 .font-weight-bold {
     font-weight: 700;
 }
 .font-style-italic {
     font-style: italic;
 }
 .font-size-large {
     font-size: 15pt;
 }
 .font-size-medium {
     font-size: 13pt;
 }
 .font-size-small {
     font-size: 10pt;
 }
 .font-size-very-small {
     font-size: 8pt;
 }
 .foreign-language {
     font-weight: 300;
 }
 .quote {
     font-style: italic;
 }

#source {
    display: none;
}

#global {
    ul.sources {
        margin-left: 0;
        list-style-type: none;

        li {
            position: relative;
            padding-left: 1.5rem;

            span {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }

    span {
        &.cited-page-line-ref {
            font-weight: bold;
            padding-right: 0.5rem;
        }

        &.cited-word-range {
            &::after {
                content: ' ]';
            }
        }

        &.sic {
            font-style: italic;
        }

        &.lemma {
            font-style: italic;

            &::after {
                content: ' ]';
                font-style: normal;
            }
        }
    }
}

#tei-reader {
    z-index: 10;
    display: block !important;
    visibility: hidden;
    background-color: #00000000;
    transition: background-color 0.5s;
    font-family: 'Merriweather Sans', Arial, sans-serif;

    &.visible {
        visibility: visible;
        background-color: #000000aa;
    }

    .tei-reader-content {
        // Left-hand navigation menu
        nav {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            @media screen and (max-width: 1023px) {
                div.menu-toggle {
                    svg {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: #222;
                        }
                    }
                }
                a {
                    display: block;
                    padding: $global-padding / 2 $global-padding;
                    cursor: pointer;

                    &:hover, &[aria-current=true] {
                        color: rgb(183, 81, 42);
                    }
                }
                div.full-menu a {
                    border-bottom: 1px solid #cacaca;
                }
            }

            @media screen and (min-width: 1024px) {
                a {
                    display: block;
                    border-bottom: 1px solid #cacaca;
                    padding: 1rem;
                    cursor: pointer;
                    color: inherit;
                    transition: color 0.1s;
                    text-decoration: none;

                    &:hover, &[aria-current=true] {
                        color: rgb(183, 81, 42);
                    }
                }
            }
            span {
                display: block;

                &.level-2 {
                    font-size: 95%;
                }
                &.level-3 {
                    font-size: 90%;
                }
            }
        }

        // Main text area
        main {
            font-family: 'Merriweather', Georgia, serif;

            & > *:last-child() {
                padding-bottom: 100vh;
            }
            h1:first-child {
                margin-top: $global-margin;
            }
            h1 {
                font-size: 15pt;
                font-weight: bold;
                text-align: center;
                margin: 0;
            }
            * + h1 {
                padding-top: 3rem;
            }
            h1 + h1 {
                padding-top: 0;
            }
            h2 {
                font-size: 13pt;
                font-weight: bold;
                text-align: center;
            }
            * + h2 {
                padding-top: 2rem;
            }
            h1 + h2 {
                padding-top: 0;
            }
            h3 {
                font-size: 12pt;
                font-weight: bold;
                text-align: center;
            }
            * + h3 {
                padding-top: 1.5rem;
            }
            h2 + h3 {
                padding-top: 0;
            }
            .content-heading {
                font-size: 13pt;
            }
            h1 + .content-heading {
                margin-top: 1.5rem;
            }
            p {
                font-size: 11pt;
                margin-bottom: 0;
                text-indent: 1cm;

                &.no-indent {
                    text-indent: 0;
                }
            }
            h1 + p, h2 + p {
                margin-top: 3rem !important;
            }
            div.line-group {
                margin: $global-margin $global-margin * 3;

                div.line {
                    font-size: 11pt;
                    line-height: $paragraph-lineheight;
                    text-rendering: $paragraph-text-rendering;
                }
            }
            a {
                cursor: help;
                color: inherit;
                text-decoration: underline dotted;
            }
        }

        // Side Notes
        aside {
            dl {
                padding: 1rem;
                margin: 0;
            }
            dt {
                padding-top: 1rem;
                margin: 0;
                margin-bottom: 0.5rem;
                font-variant: normal;

                span.page-line-ref {
                    font-weight: bold;
                    padding-right: 0.5rem;
                }

                .action {
                    a {
                        cursor: pointer;
                        padding: 0.5rem;

                        svg {
                            width: 16px;
                            height: 16px;

                            path {
                                fill: #222;
                            }
                        }
                    }
                }
            }
            dd {
                padding: 0;
                margin: 0;

                @media screen and (min-width: 1024px) {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #cacaca;
                }
            }
        }
    }
}
