/* Load Foundation */
@import 'foundation';
@import 'settings';

/* Include Foundation Components */
@include foundation-global-styles;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-breadcrumbs;
@include foundation-button;
@include foundation-callout;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-dropdown-menu;
@include foundation-label;
@include foundation-off-canvas;
@include foundation-pagination;
@include foundation-reveal;
@include foundation-table;
@include foundation-title-bar;
@include foundation-tabs;
@include foundation-tooltip;
@include foundation-top-bar;

/**
 * Foundation overrides
 */
.top-bar {
   .dropdown.menu {
       li.active > a {
           font-weight: normal;
           border-bottom: 3px solid get-color(primary);
       }
       .vertical > li.active > a {
           font-weight: normal;
           border-bottom: 0;
           border-left: 3px solid get-color(primary);
       }
   }
}
.breadcrumbs {
    background: $white;
    margin: 0;
    padding: 0 0 $global-padding 0;
}
dt {
    font-variant: small-caps;
}
dd + dt {
    margin-top: $global-margin;
}
.menu.simple > li.menu-text {
    padding: 0;
}
.tabs > .tabs-title {
    border-bottom: 2px solid $light-gray;

    &.is-active {
        border-bottom: 2px solid get-color(primary);
    }
    a {
        padding-bottom: $global-margin / 2;
    }
}
.tabs-content {
    .menu-text {
        display: block;
        font-weight: normal;
        padding: $menu-items-padding;
    }
}
.tabs-content > div > ul {
    margin-left: -$global-padding;
}
.has-tip {
    display: inline;
}

/**
 * Generic styling
 */
ul.no-margin, ol.no-margin {
    margin-left: 0;
}
aside {
    font-size: 80%;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/**
 * Header formatting
 */
@include breakpoint(medium) {
    header#main-nav {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 1;
        box-shadow: 0 0 4px $dark-gray;
    }
    article.grid-container {
        margin-top: 3rem;
    }
}

/**
 * Metadata styling
 */
.metadata {
    font-size: 80%;
    position:relative;
    top: -0.5rem;
    color: lighten($black, 20%);
}
.classification {
    font-size: 80%;
    color: lighten($black, 20%);
}

/**
 * Article grid styling
 */
.article-preview {
    margin-bottom: 2 * $global-margin;
    position: relative;

    &.narrow {
        .cell {
            width: 100%;
        }
    }

    nav {
        margin-bottom: 0.5rem;

        @breakpoint(medium) {
            margin-bottom: 0;
        }
    }
}

/**
 * Footer styling
 */
footer {
    font-size: 80%;
    color: lighten($body-font-color, 20%);
    border-top: 1px solid $light-gray;
    margin-top: $global-margin;
    padding-top: $global-margin;

    h2 {
        font-size: rem-calc(16);
    }
}

/**
 * Reader formatting
 */
#source {
    display: none;
}
#tei-reader {
    z-index: 10;

    .tei-reader-content {
        nav {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            @media screen and (max-width: 1023px) {
                div.menu-toggle {
                    svg {
                        width: 24px;
                        height: 24px;

                        path {
                            fill: #222;
                        }
                    }
                }
                a {
                    display: block;
                    padding: 1rem;
                    cursor: pointer;

                    &:hover, &[aria-current=true] {
                        color: rgb(183, 81, 42);
                    }
                }
                div.full-menu a {
                    border-bottom: 1px solid #cacaca;
                }
            }

            @media screen and (min-width: 1024px) {
                a {
                    display: block;
                    border-bottom: 1px solid #cacaca;
                    padding: 1rem;
                    cursor: pointer;
                    color: inherit;
                    transition: color 0.1s;
                    text-decoration: none;

                    &:hover, &[aria-current=true] {
                        color: rgb(183, 81, 42);
                    }
                }
            }
            span {
                display: block;

                &.level-2 {
                    font-size: 95%;
                }
                &.level-3 {
                    font-size: 90%;
                }
            }
        }

        main {
            font-family: 'Open Sans', sans-serif;

            *:last-child() {
                padding-bottom: 100vh;
            }
            h1 {
                font-size: 15pt;
                font-weight: bold;
                text-align: center;
                margin: 0;
            }
            * + h1 {
                padding-top: 3rem;
            }
            h1 + h1 {
                padding-top: 0;
            }
            h2 {
                font-size: 13pt;
                font-weight: bold;
                text-align: center;
            }
            * + h2 {
                padding-top: 2rem;
            }
            h1 + h2 {
                padding-top: 0;
            }
            h3 {
                font-size: 12pt;
                font-weight: bold;
                text-align: center;
            }
            * + h3 {
                padding-top: 1.5rem;
            }
            h2 + h3 {
                padding-top: 0;
            }
            .content-heading {
                font-size: 13pt;
            }
            h1 + .content-heading {
                margin-top: 1.5rem;
            }
            p {
                font-size: 11pt;
                margin-bottom: 0;
                margin-top: 1rem;

                &.no-indent {
                    margin-top: 0;
                }
            }
            h1 + p, h2 + p {
                margin-top: 3rem !important;
            }
            .page-break {
                font-size: 80%;
                font-style: italic;

                &::before {
                    content: '['
                }
                &::after {
                    content: ']'
                }
            }
            .letter-sparse {
                letter-spacing: 1.5pt;
            }
            .font-weight-bold {
                font-weight: 700;
            }
            .font-style-italic {
                font-style: italic;
            }
            .font-size-large {
                font-size: 15pt;
            }
            .font-size-medium {
                font-size: 13pt;
            }
            .font-size-small {
                font-size: 10pt;
            }
            .font-size-very-small {
                font-size: 8pt;
            }
            .foreign-language {
                font-weight: 300;
            }
            .indent-big {
                margin-left: 3rem;
            }
            a {
                cursor: help;
                color: inherit;
                text-decoration: underline dotted;
            }
        }

        aside {
            dl {
                padding: 1rem;
                margin: 0;
            }
            dt {
                padding-top: 1rem;
                margin: 0;
                margin-bottom: 0.5rem;
                font-variant: normal;

                span.page-line-ref {
                    font-weight: bold;
                    padding-right: 0.5rem;
                }

                .action {
                    a {
                        cursor: pointer;
                        padding: 0.5rem;

                        svg {
                            width: 16px;
                            height: 16px;

                            path {
                                fill: #222;
                            }
                        }
                    }
                }
            }
            dd {
                padding: 0;
                margin: 0;
            }
            @media screen and (min-width: 1024px) {
                dd {
                    padding-bottom: 1rem;
                    border-bottom: 1px solid #cacaca;
                }
            }
        }
    }
}
