[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pelican = "*"
pelican-page-hierarchy = {git = "https://github.com/scmmmh/pelican-page-hierarchy.git"}
pelican-page-order = {git = "https://github.com/scmmmh/pelican-page-order.git"}
lxml = "*"
click = "*"
gitpython = "*"

[dev-packages]
