<h3><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h3>
<div class="metadata">
  Am {{ article.locale_date }} geschrieben
  {% if article.modified %}
    und am {{ article.locale_modified }} aktualisiert
  {% endif %}
  von
  {% for author in article.authors %}
    <a href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
  {% endfor %}
</div>
<div>
  {{ article.summary }}
  {% if article.summary != article.content %}
    <p><a href="{{ SITEURL }}/{{ article.url }}">Weiterlesen...</a></p>
  {% endif %}
</div>
