{% macro taxonomy(elements, hierarchy=(), nested=True) -%}
  <ul class="menu vertical {{ 'nested' if nested else '' }}">
    {% for element in elements %}
      {% if pages|selectattr('taxonomy', 'equalto', ', '.join(hierarchy + (element[1], )))|first() %}
        {% if nested %}
          <li><a href="{{ SITEURL }}/{{ pages|selectattr('taxonomy', 'equalto', ', '.join(hierarchy + (element[1], )))|first()|attr('url') }}">{{ element[0] }}</a>
        {% else %}
          <li id="{{ loop.index }}"><a href="{{ SITEURL }}/{{ pages|selectattr('taxonomy', 'equalto', ', '.join(hierarchy + (element[1], )))|first()|attr('url') }}">{{ element[0] }}</a>
        {% endif %}
      {% else %}
        {% if nested %}
          <li><span class="menu-text">{{ element[0] }}</span>
        {% else %}
          <li id="{{ loop.index }}"><span class="menu-text">{{ element[0] }}</span>
        {% endif %}
      {% endif %}
      {% if element[2] %}
        {{ taxonomy(element[2], hierarchy + (element[1],)) }}
      {% endif %}
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}
{% extends "page.html" %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  {{ super() }}
  <ul class="tabs" data-tabs id="werke-tabs">
    <li class="tabs-title is-active"><a href="#abteilungen" aria-selected="true">Abteilungen</a></li>
    <li class="tabs-title"><a href="#chronologisch">Chronologisch</a></li>
    <li class="tabs-title"><a href="#alphabetisch">Alphabetisch</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="werke-tabs">
    <div class="tabs-panel is-active taxonomy-tree" id="abteilungen">
      <div class="grid-x">
        <div class="small-12 medium-9">
          {% if page.taxonomy_subtree %}
            {{ taxonomy(TAXONOMY[page.taxonomy_subtree|int][2], hierarchy=(TAXONOMY[page.taxonomy_subtree|int][1],), nested=False) }}
          {% else %}
            {{ taxonomy(TAXONOMY, nested=False) }}
          {% endif %}
        </div>
        <div class="hide-for-small-only medium-3">
          <ul class="menu vertical sticky">
            {% if page.taxonomy_subtree %}
              {% for element in TAXONOMY[page.taxonomy_subtree|int][2] %}
              <li><a href="#{{ loop.index }}">{{ element[0] }}</a></li>
              {% endfor %}
            {% else %}
              {% for element in TAXONOMY %}
                <li><a href="#{{ loop.index }}">{{ element[0] }}</a></li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
    <div class="tabs-panel" id="chronologisch">
      <ul class="menu vertical">
        {% for grouper, year_items in pages|selectattr('year')|groupby('year') %}
          <li><span class="menu-text">{{ grouper }}</span>
            <ul class="menu vertical nested">
              {% for grouper, items in year_items|groupby('month') %}
                <li>{% if grouper %}<span class="menu-text">{{ grouper }}</span>{% endif %}
                  <ul class="menu vertical nested">
                    {% for child in items|sort(attribute='date') %}
                      <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tabs-panel" id="alphabetisch">
      <ul class="menu vertical">
        {% for grouper, items in pages|selectattr('title-letter')|groupby('title-letter') %}
          <li><span class="menu-text">{{ grouper }}</span>
            <ul class="menu vertical nested">
              {% for child in items|sort(attribute='title') %}
                <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
