{% extends "base.html" %}
{% block breadcrumb_title %}Neuigkeiten{% endblock %}
{% block content %}
  <div class="grid-x grid-padding-x">
    <h1 class="cell">{% block content_title %}{{ SITENAME }}{% endblock %}</h1>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="cell small-12 medium-8">
      <p>Ein an der University of Keele 1997 durchgeführtes Symposion zu Karl
        Gutzkow gab den Anstoß zur Gründung einer internationalen Arbeitsgruppe,
        die sich mit der Edition der Werke und Briefe dieses Autors beschäftigt.
        Seit 1999 trifft sich diese Arbeitsgruppe als Editionsprojekt Karl
        Gutzkow mindestens einmal im Jahr in Wittenberg, um den gemeinsamen
        Arbeitsstand zu besprechen und die zukünftige Arbeit zu planen. Eine
        zuerst an der Universität Münster beheimate Website wird seit September
        2001 an der University of Exeter, England, gepflegt. Sie wurde
        kontinuierlich zu der jetzt verfügbaren Arbeitsoberfläche der
        Kommentierten digitalen Gesamtausgabe ausgebaut.</p>
      <p>Grundidee der als "edition in progress" entstehenden Gutzkow-Ausgabe
        ist es, eine dem neuesten Stand der Editionsphilologie entsprechende
        Gesamtausgabe der Werke und Briefe nach und nach der Öffentlichkeit
        vorzustellen. Alle Texte und Kommentare werden sukzessiv im Internet
        veröffentlicht; sie stehen damit für die weitere Erarbeitung und
        Verfeinerung der Kommentare schon frühzeitig zur Verfügung. Parallel
        zur Veröffentlichung der Texte und Kommentierungen im Internet gibt der
        Oktober Verlag in Münster Textbände in Leinen heraus, die auch die
        herkömmliche Lektüre gewährleisten. Druckseitenidentische Dateien finden
        sich zugleich im Internet (*.pdf). Alle Bearbeitungsstufen sind über
        Fassungsnummern im Fußbereich der Dateien ausgewiesen, alte Fassungen
        werden in Exeter archiviert. Damit ist die eindeutige Zitierbarkeit der
        Edition auch im Internet gesichert.</p>
      <p>Gutzkows Werke werden auf der Basis der Erstdrucke herausgegeben (in
        der Regel Bucherstdrucke). Der Text des zugrundegelegten Drucks wird
        einer philologisch-historischen Textkritik unterzogen. Auf der Basis des
        historischen Sprachstandes sollen im Wesentlichen Druckfehler ausfindig
        gemacht und korrigiert werden. Es erfolgen keine Normalisierungen oder
        Modernisierungen von Orthographie und Interpunktion. Die Apparate geben
        Aufschluss über die vorgenommenen Texteingriffe.</p>
      <p>Neben der Bereitstellung der Texte liegt der Schwerpunkt der Ausgabe
        auf der wissenschaftlichen Kommentierung. Die Gutzkow-Ausgabe greift
        dazu auf bewährte neue Konzepte der Kommentierung wie die Verzahnung von
        Global- und Einzelstellenkommentar zurück. Wer sich nicht durch viele
        Seiten Einzelstellenerläuterungen hindurcharbeiten will, findet in den
        überblicksartigen Darstellungen einen ersten Zugang zum Werk. Der
        Einzelstellenkommentar kann dann in einer zweiten Stufe dazu dienen, die
        Lektüre zu vertiefen. Quellen, Folien und Anspielungshorizonte werden
        übersichtlich aufgelistet. Ein Gutzkow-Lexikon stellt eine zusätzliche
        Ebene des Kommentars zur Verfügung. Es enthält autorbezogene
        zusammenfassende Artikel, die über die Werkgrenze hinausreichen,
        bestimmte Sachkomplexe erläutern oder über Gutzkows Beziehung zu anderen
        Autoren informieren. Ein Bild- und Quellenteil schafft zusätzliche
        Zugänge zum Werk eines Autors, den es für die Erforschung des 19.
        Jahrhunderts neu zu entdecken gilt.</p>
    </div>
    <div class="cell small-12 medium-4">
      {% if articles %}
        <ol class="no-symbol no-margin">
          {% for article in articles_page.object_list %}
            <li class="grid-x article-preview narrow">
              {% include('article_brief_inc.html') %}
            </li>
          {% endfor %}
        </ol>
      {% endif %}
      <nav aria-label="Pagination">
        <ul class="pagination text-center">
          {% if articles_previous_page %}
            <li class="pagination-previous"><a href="{{ SITEURL }}/{{ articles_previous_page.url }}" aria-label="Vorherige Seite"></a></li>
          {% else %}
            <li class="pagination-previous disabled"></li>
          {% endif %}
          {% for pagenr in articles_paginator.page_range %}
            {% if articles_page.number == pagenr %}
              <li class="current"><span class="show-for-sr">Sie sind auf Seite </span>{{ pagenr }}</li>
            {% else %}
              <li><a href="{{ SITEURL }}/{{ articles_paginator.page(pagenr).url }}" aria-label="Page {{ pagenr }}">{{ pagenr }}</a></li>
            {% endif %}
          {% endfor %}
          {% if articles_next_page %}
            <li class="pagination-next"><a href="{{ SITEURL }}/{{ articles_next_page.url }}" aria-label="Nächste Seite"></a></li>
          {% else %}
            <li class="pagination-next disabled"></li>
          {% endif %}
        </ul>
      </nav>
    </div>
  </div>
{% endblock %}
