{% extends "base.html" %}
{% block breadcrumb_title %}Neuigkeiten{% endblock %}
{% block content %}
  <div class="grid-x grid-padding-x landing-page-title">
    <div class="cell small-3 hide-for-medium">
      <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/gutzkow-head.jpg" alt="Karl Gutzkow"/>
    </div>
    <div class="cell small-9 medium-4 medium-offset-4">
      <h1>{{ SITENAME }}</h1>
      <p class="hide-for-medium" style="font-size: 80%;"><small>Emancipation vom Systeme ist Fortschritt</small></p>
    </div>
  </div>
  <div class="grid-x grid-padding-x landing-page" data-image-base-url="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/">
    <div class="cell show-for-large large-4 left-quote">
    </div>
    <div class="cell show-for-medium medium-6 large-4 images">
      <div class="grid-y">
        <div class="cell auto">
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/loading.svg" alt="Karl Gutzkow" aria-current="true"/>
          <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/loading.svg" alt="Karl Gutzkow"/>
        </div>
        <div class="cell shrink main-quote">
          Emancipation vom Systeme ist Fortschritt
        </div>
      </div>
    </div>
    <div class="cell small-12 medium-6 large-4 right-quote">
    </div>
    <div class="quote-source">
      <div class="quote">
        <div>Das dritte Stadium der Weltliteratur,</div>
        <div>das von Rousseau, Sterne, Lessing, Goethe beginnt,</div>
        <div>ist <span class="font-large">die moderne, sociale Poesie,</span></div>
        <div>deren Gegenstand <span class="font-large">der Mensch</span> ist:</div>
        <div>der Mensch des Gemüths, der Sitte, der Geschichte.</div>
        <div>Es ist die Poesie des Gedankens.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/schriften-zur-literatur-und-zum-theater/literaturkritik/rezensionen-und-literaturkritische-essays/vom-deutschen-parnass.html">Vom deutschen Parnaß (1853)</a></div>
      </div>
      <div class="quote">
        <div class="font-monospace">Roman, Novelle, die kleine Abhandlung, Briefe, empfindsame Reisen,</div>
        <div class="font-monospace">das sind die einfachsten Formen,</div>
        <div class="font-monospace">mit welchen der moderne Autor</div>
        <div class="font-monospace">seine Erfindungen, Träume und Charaktere einfäßt.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/schriften-zur-politik-und-gesellschaft/die-zeitgenossen.html">Die Zeitgenossen (1837)</a></div>
      </div>
      <div class="quote">
        <div>Ich glaube an die <span class="font-bold">Zeit</span>,</div>
        <div>die allmächtige Schöpferin Himmels und der Erden,</div>
        <div>und ihren eingebornen Sohn, die <span class="font-bold">Kunst</span>,</div>
        <div>welche [...] die Welt erlösen helfen wird,</div>
        <div>und bis dahin glaub’ ich an den heiligen Geist der <span class="font-bold">Kritik</span>,</div>
        <div>welchen die Zeit gesandt hat,</div>
        <div>zu richten die Lebendigen und die Todten.</div>
        <div><span>Phönix (1835)</span></div>
      </div>
      <div class="quote">
        <div>Geboren bin ich den 17 März 1811 in Berlin</div>
        <div>in dem heißen Kometenjahre …</div>
        <div><span>Selbstbiographischer Brief (1837)</span></div>
      </div>
      <div class="quote">
        <div>Ich habe in meiner Jugend nichts gehört,</div>
        <div>als Königl. Hoheit, Königl. Majestät, Geheimer Rath, Excellenz,</div>
        <div>ich bin der Sohn eines Beamten, der jedem seiner Vorgesetzten den ihm nach dem Staatsadreßbuche gebührenden Titel gab und seine Kinder früh zu derselben Unterwürfigkeit erzog.</div>
        <div>Aber ich las, ich forschte in den Alten, mein Geist lechzte nach Freiheit, ich sprengte die Fesseln und werde, da ich einmal knechtisch erzogen bin,</div>
        <div>ewig hassen, was vornehm ist.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/schriften-zur-literatur-und-zum-theater/literaturkritik/schriften-zur-literatur/vergangenheit-und-gegenwart.html">Vergangenheit und Gegenwart (1839)</a></div>
      </div>
      <div class="quote">
        <div>Die Literatur muss <span class="font-large">Nationalinteresse</span> werden […]</div>
        <div><span>Forum der Journal-Literatur (1831)</span> [Bd. 1, S. 37]</div>
      </div>
      <div class="quote">
        <div>wir sind noch jung,</div>
        <div>verblendet von der Zukunft;</div>
        <div>wir möchten Wissenschaft u. Leben versöhnen</div>
        <div>u. träumen viel von der Poesie.</div>
        <div>Amphibienartig leben wir halb auf dem Festlande der Politik, halb in den Gewässern der Dichtkunst.</div>
        <div><span>An Ludwig Börne (1835)</span></div>
      </div>
      <div class="quote">
        <div class="font-monospace">Die Journalisten sind die Geburtshelfer und Todtengräber der Zeit.</div>
        <div><span>Blasedow und seine Söhne</span> (1838)</div>
      </div>
      <div class="quote">
        <div>Verloren ist jedes Talent, das sich unter den jetzigen Umständen entschließt, für das sogenannte große Lesepublikum zu schreiben.</div>
        <div>Die Lesewelt soll herauf; nicht der geniale Autor zu ihr hinunter! Was den Autor interessirt, soll die Lesewelt interessiren; <span class="font-spacing">nicht umgekehrt!</span></div>
        <div><span>Telegraph für Deutschland (1838)</span> [Nr. 58, April 1838, S. 464)</div>
      </div>
      <div class="quote">
        <div>Die Dichterfrau ist nicht nur die</div>
        <div>Taucherglocke des perlenfischenden Dichtermannes,</div>
        <div>sondern auch oft das Meer selbst,</div>
        <div>mit seiner Anmuth und noch öfter seinen Klippen, Untiefen, Strudeln.</div>
        <div><span>Forum der Journal-Literatur (1831)</span> [Bd. 2, S. 39]</div>
      </div>
      <div class="quote">
        <div>Die Säule, welche man dem Verdienst eines Buchhändlers setzen wollte,</div>
        <div>würde sehr klein gerathen,</div>
        <div>wenn man sie aus dem Honorar schmölze,</div>
        <div>welches die Schriftsteller von ihm bezogen haben.</div>
        <div><span>Papilloten (1833)</span></div>
      </div>
      <div class="quote">
        <div>Ach! hätte auch die Welt nie von <span class="font-large">Gott</span> gewußt,</div>
        <div>sie würde glücklicher seyn!</div>
        <div><span>Vorrede, Schleiermachers Vertraute Briefe (1835)</span></div>
      </div>
      <div class="quote">
        <div>Eigentlich sollte ich mich schämen,</div>
        <div><span class="font-large">Gott</span> mit meiner Person zu behelligen.</div>
        <div>Aber seltsam,</div>
        <div>ich fühle, daß sich Gott mit mir beschäftigt.</div>
        <div><span>Vom Baum der Erkenntniß (1868)</span></div>
      </div>
      <div class="quote">
        <div>Man weiss es ja, was unsre erste Forderung ist –</div>
        <div><span class="font-bold">unverkümmerte Pressfreiheit</span>!</div>
        <div><span>Forum der Journal-Literatur (1831)</span> [Bd. 1, S. 202]</div>
      </div>
      <div class="quote">
        <div>Unsre Zeit emanzipirt nicht <span class="font-spacing">zur</span> Revolution,</div>
        <div>sondern <span class="font-spacing">aus</span> der Revolution.</div>
        <div>Die Zeitgenossen (1837)</div>
      </div>
      <div class="quote">
        <div>Hütet euch, ihr Frauen!</div>
        <div>Die Liebe der meisten Männer</div>
        <div>ist nichts als eine Huldigung,</div>
        <div>welche sie sich selbst bringen.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/erzaehlerische-werke/wally-die-zweiflerin.html">Wally, die Zweiflerin (1835)</a></div>
      </div>
      <div class="quote">
        <div>Die Nothwendigkeit der <span class="font-bold">Politisirung unserer Literatur</span> ist unläugbar.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/erzaehlerische-werke/wally-die-zweiflerin.html">Briefe eines Narren an eine Närrin (1832)</a></div>
      </div>
      <div class="quote">
        <div>Wir aber gehen in der Irre</div>
        <div>und benutzen die Waffen des Geistes</div>
        <div>zu jedem Kampf gegen ihn.</div>
        <div>Der Kampf der Finsterniß gegen das Licht</div>
        <div>wird mit <span class="font-large">Waffen des Geistes</span> geführt.</div>
        <div><span>Die Ritter vom Geiste (1850‐51)</span></div>
      </div>
      <div class="quote">
        <div>Alles Bedeutende, das bleiben will, muß <span class="font-bold font-large">Widerspruch</span> erfahren […]</div>
        <div>Das, was <span class="font-bold font-large">Alle</span> anerkennen, stirbt in der Wärme der Theilnahme ab.</div>
        <div><span>Telegraph für Deutschland (1841)</span></div>
      </div>
      <div class="quote">
        <div>Ich glaube, Sie taugen zu mehr, als zu einer Erbse,</div>
        <div>welche die offne Wunde der deutschen Revolution in der Eiterung hält.</div>
        <div>Treiben Sie wie ich den <span class="font-large">Schmuggelhandel der Freiheit</span>:</div>
        <div>Wein verhüllt in Novellenstroh, nicht in seinem natürlichen Gewande:</div>
        <div>ich glaube, man nüzt so mehr, als wenn man blind in Gewehre läuft, die keineswegs blindgeladen sind.</div>
        <div><span>An Georg Büchner (1835)</span></div>
      </div>
      <div class="quote">
        <div>Nichts ist täuschender in der Literatur,</div>
        <div>als <span class="font-large">die oberflächliche Vollendungsfirniß</span>.</div>
        <div>Das Glatte und Ebene ermüdet wohl die Leser nicht,</div>
        <div>ist aber auch um so schneller vergessen.</div>
        <div><span>Telegraph für Deutschland (1841)</span> [Nr. 55, April 1841, S. 229]</div>
      </div>
      <div class="quote">
        <div>Ach! jammerte das Volk. Das schöne,</div>
        <div>schöne Mädchen! […] Diese Hand! Dieser Fuß!</div>
        <div>Der junge Arzt dachte dasselbe und freute sich über die Eroberung</div>
        <div>für seinen Secirtisch.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/erzaehlerische-werke/die-neuen-serapionsbrueder.html">Die neuen Serapionsbrüder (1877)</a></div>
      </div>
      <div class="quote">
        <div class="font-bold">Der Zweck der Erde</div>
        <div class="font-bold">ist kein historisch-metaphysischer Gesammtzweck,</div>
        <div class="font-bold">sondern der einzelne Mensch,</div>
        <div class="font-bold">wie er geboren wird und stirbt.</div>
        <div><span>Zur Philosophie der Geschichte (1836)</span></div>
      </div>
      <div class="quote">
        <div>Die Censur hat mich einmal wieder maltraitirt heute:</div>
        <div>man soll nicht sagen, daß diejenigen,</div>
        <div>welche der Staat mit Stricken um den Hals lohnt,</div>
        <div>von der Literatur mit Lorbeerkränzen bedacht werden.</div>
        <div><span>An Gustav Schlesier (1835)</span></div>
      </div>
      <div class="quote">
        <div>Der Landrath fühlte die Ironie nicht, daß er</div>
        <div>[…] ein Kind erzog,</div>
        <div>das durch seine ganze</div>
        <div>polizeiliche Ordnung</div>
        <div class="font-italic">wie ein Comet fuhr</div>
        <div>und die Poesie selbst war.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/erzaehlerische-werke/kleine-erzaehlerische-werke-i/imagina-unruh.html">Imagina Unruh (1847)</a></div>
      </div>
      <div class="quote">
        <div>Die Dichter gleichen den einsamen <span class="font-large">Botenläufern</span>,</div>
        <div>die Morgens in aller Winterfrühe, wenn noch kaum die Hähne gekräht haben, auf den des Nachts vom Schnee verschütteten Wegen die ersten Fußtapfen wieder eindrücken müssen. Ihr habt Mittags gut wandeln! Gedenkt der Botenläufer, die […] auf unübersehbaren Schneeflächen zuerst die Wege wieder suchen mußten und dabei keinen anderen Führer hatten, als den Rauch aus jenen fast unsichtbaren, weiß verhangenen Schornsteinen,</div>
        <div>wo man euch Bequemen schon in aller Frühe den labenden Mocca siedet!</div>
        <div><span>Vergangene Tage (1852)</span></div>
      </div>
      <div class="quote">
        <div class="font-monospace">Macht ihr Geschichte, dachte er,</div>
        <div class="font-monospace">wir wollen Romane schreiben.</div>
        <div><span>Vorrede zu: Die Ritter vom Geiste (1850-51)</span></div>
      </div>
      <div class="quote">
        <div>Excellenz! Excellenz! <span class="font-bold">Herr Geheimerrath</span>!</div>
        <div>rief man in alle Winkel hinein</div>
        <div>und in alle Gruben hinunter,</div>
        <div>ja in solchen suchte man den geheimen Rath,</div>
        <div>die man sonst nur für geheimen Unrath bestimmte.</div>
        <div><span>Die Ritter vom Geiste (1850‐51)</span></div>
      </div>
      <div class="quote">
        <div><span class="font-bold">Quatsch</span> ist der Anlauf zum Witz, der,</div>
        <div>auf dem halben Wege stehen bleibend,</div>
        <div>dann natürlich noch hinter dem halben Verstande zurückbleibt.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/reiseliteratur/berliner-eindruecke/eine-woche-in-berlin.html">Eine Woche in Berlin (1854)</a></div>
      </div>
      <div class="quote">
        <div>Der Autor glaubte durch eine Betrachtungsweise,</div>
        <div>wo Ein Dasein unbewußt immer wieder Schale oder Kern eines andern ist,</div>
        <div>wo jede Freude von einem Schmerze benachbart ist,</div>
        <div>der über Das, was jene himmelhoch erhebt, seinerseits tief zu Boden gedrückt sein kann und wo andererseits eine Unbill auch schon wieder unbewußt den Rächer auf ihren Fersen haben wird,</div>
        <div>den <span class="font-bold">Roman</span> noch mehr als früher zum <span class="font-bold">Spiegel des Lebens</span> gemacht zu haben.</div>
        <div><span>Unterhaltungen am häuslichen Herd (1854)</span></div>
      </div>
      <div class="quote">
        <div>Systemveränderungen, Glaubensmetamorphosen</div>
        <div>und ähnliche Revolutionen unsres Innern,</div>
        <div>zu denen man im Alter Jahre braucht,</div>
        <div>machen wir in der Jugend oft in wenigen Stunden durch.</div>
        <div><span>Vom Baum der Erkenntniß (1868)</span></div>
      </div>
      <div class="quote">
        <div>Die verwitterte Gestalt […]</div>
        <div>hebt die Vorhangsfetzen des Wagens auf</div>
        <div>und schiebt sich langsam hinein</div>
        <div>in ein damaliges — <span class="font-large">Asyl für Obdachlose</span>.</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/reiseliteratur/berliner-eindruecke/eine-naechtliche-unterkunft.html">Eine nächtliche Unterkunft (1870)</a></div>
      </div>
      <div class="quote">
        <div>– die hier Versammelten riefen die Forderung der Jahrhunderte,</div>
        <div>die unvertilgbar ewige Losung</div>
        <div>und das gottgegebene Erbe der Menschheit:</div>
        <div class="text-center font-large">Freiheit –! Freiheit –! Freiheit –!</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/erzaehlerische-werke/der-zauberer-von-rom.html">Der Zauberer von Rom (1858-61)</a></div>
      </div>
      <div class="quote">
        <div class="font-monospace">Er starb,</div>
        <div class="font-monospace">wie ein Schriftsteller des 19. Jahrhunderts stirbt,</div>
        <div class="font-monospace">mit der Feder in der Hand,</div>
        <div class="font-monospace">mit dem letzten Correcturbogen seines gerade im Drucke befindlichen Werkes auf der Decke seines Krankenlagers,</div>
        <div class="font-monospace">mit dem letzten schmerzlichen Seufzer des zurücksinkenden Hauptes und zusammenbrechenden Körpers:</div>
        <div>Ich kann nicht mehr!</div>
        <div><a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/schriften-zur-literatur-und-zum-theater/literaturkritik/schriften-zur-literatur/ein-deutsches-dichterleben.html">Ein deutsches Dichterleben (1853)</a></div>
      </div>
    </div>
  </div>
{% endblock %}
