{%- macro taxonomy(elements, path=None, prefix=None, nested=True) -%}
  {% if prefix %}
    {% for element in elements %}
      {% if prefix[0].strip() == element[1] %}
        {{ taxonomy(element[2], path + [element[1]] if path else [element[1]], prefix=prefix[1:], nested=False) }}
      {% endif %}
    {% endfor %}
  {% else %}
    <ul class="menu vertical {{ 'nested' if nested else ''}}">
      {% for element in elements %}
        <li{% if not nested %} id="section-{{ loop.index }}"{% endif %}>
          {% if pages|selectattr('taxonomy', 'equalto', ', '.join(path + [element[1]] if path else [element[1]]))|first() %}
            <a href="{{ SITEURL }}/pages/digitale-gesamtausgabe/{% if path %}{{ '/'.join(path) }}/{% endif %}{{ element[1] }}.html">{{ element[0] }}</a>
          {% else %}
            <span class="menu-text">{{ element[0] }}</span>
          {% endif %}
          {% if element[2] %}
            {{ taxonomy(element[2], path=path + [element[1]] if path else [element[1]]) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{%- endmacro -%}
{%- macro quick_nav(elements, prefix=None) -%}
  {% if prefix %}
    {% for element in elements %}
      {% if prefix[0].strip() == element[1] %}
        {{ quick_nav(element[2], prefix=prefix[1:]) }}
      {% endif %}
    {% endfor %}
  {% else %}
    {% for element in elements %}
      <li><a href="#section-{{ loop.index }}">{{ element[0] }}</a></li>
    {% endfor %}
  {% endif %}
{%- endmacro -%}
{% extends "page.html" %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  {{ super() }}
  <div id="alphabetisch">
    <ul class="menu vertical">
      {% for grouper, items in pages|selectattr('taxonomy')|selectattr('taxonomy', 'startswith', page.taxonomy)|selectattr('title-letter')|groupby('title-letter') %}
        <li><span class="menu-text">{{ grouper }}</span>
          <ul class="menu vertical nested">
            {% for child in items|sort(attribute='title') %}
              <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}
{% block body_scripts %}
<script>
window.addEventListener('hashchange', function(ev) {
    document.documentElement.scrollTop = document.documentElement.scrollTop - 70;
});
if (window.location.hash) {
    document.documentElement.scrollTop = document.documentElement.scrollTop - 70;
}
</script>
{% endblock body_scripts %}
