{% extends "base.html" %}
{% block title %}{{ page.title }}{% endblock %}
{% block head_scripts %}
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/femtoTween.umd.js"></script>
{% endblock %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  {% if page.children %}
    <h1>{{ page.title }}</h1>
    {{ page.content }}
  {% else %}
    <h1>{{ page.parent.title }}</h1>
    {{ page.parent.content }}
  {% endif %}
  <div class="grid-x grid-padding-x image-viewer">
    <div class="cell hide-for-small-only medium-6 large-4">
      <nav>
        <ul class="menu vertical">
          {% if page.children %}
            {% for images in page.children %}
              <li><a href="{{ SITEURL }}/pages/{{ images.slug }}">{{ images.title }}</a></li>
            {% endfor %}
          {% else %}
            {% for images in page.parent.children %}
              <li><a href="{{ SITEURL }}/pages/{{ images.slug }}">{{ images.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </nav>
    </div>
    <div class="cell small-12 medium-6 large-8 image-viewer-image">
      {% if page.children %}
        <figure>
          <picture>
            <source media="(min-width: 640px)" srcset="{{ SITEURL }}/pages/{{ page.children[0].slug }}-large{% if page.children[0].extension %}{{ page.children[0].extension }}{% else %}.jpg{% endif %}">
            <img src="{{ SITEURL }}/pages/{{ page.children[0].slug }}-small{% if page.children[0].extension %}{{ page.children[0].extension }}{% else %}.jpg{% endif %}" alt="{{ page.title }}"/>
          </picture>
          <figcaption>{{ page.children[0].title }}</figcaption>
        </figure>
        <div>
          <span>
            <a aria-label="Details verstecken">
              <svg viewBox="0 0 24 24" class="icon white">
                <path d="M7,10L12,15L17,10H7Z" />
              </svg>
            </a>
            <a aria-label="Details anzeigen">
              <svg viewBox="0 0 24 24" class="icon white">
                <path d="M7,15L12,10L17,15H7Z" />
              </svg>
            </a>
          </span>
          {{ page.children[0].content }}
        </div>
      {% else %}
        <figure>
          <picture>
            <source media="(min-width: 640px)" srcset="{{ SITEURL }}/pages/{{ page.slug }}-large{% if page.extension %}{{ page.extension }}{% else %}.jpg{% endif %}">
            <img src="{{ SITEURL }}/pages/{{ page.slug }}-small{% if page.extension %}{{ page.extension }}{% else %}.jpg{% endif %}" alt="{{ page.title }}"/>
          </picture>
          <figcaption>{{ page.title }}</figcaption>
        </figure>
        <div>
          <span>
            <a aria-label="Details verstecken">
              <svg viewBox="0 0 24 24" class="icon white">
                <path d="M7,10L12,15L17,10H7Z" />
              </svg>
            </a>
            <a aria-label="Details anzeigen">
              <svg viewBox="0 0 24 24" class="icon white">
                <path d="M7,15L12,10L17,15H7Z" />
              </svg>
            </a>
          </span>
          {{ page.content }}
        </div>
      {% endif %}
    </div>
  </div>
{% endblock %}
