{% extends "base.html" %}
{% macro parent_list(node) %}
  {% if node.parent and node.parent.title != 'Digitale Gesamtausgabe' %}{{ parent_list(node.parent) }}{% endif %}
  <li><a href="{{ SITEURL }}/{{ node.url }}">{{ node.title }}</a></li>
{% endmacro %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/reader/app.css"/>
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  <div class="grid-x">
    <h1 class="cell small-10 medium-12">{{ page.title }}</h1>
    <div class="cell small-2 hide-for-medium" style="align-self: center; text-align: right;">
      <button data-action="read" data-action-read-no-inner-html>
        <svg class="icon primary" viewBox="0 0 24 24">
          <path d="M13,12H20V13.5H13M13,9.5H20V11H13M13,14.5H20V16H13M21,4H3A2,2 0 0,0 1,6V19A2,2 0 0,0 3,21H21A2,2 0 0,0 23,19V6A2,2 0 0,0 21,4M21,19H12V6H21" />
        </svg>
      </button>
    </div>
  </div>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-8 text-extract">
      <h2 class="cell small-10">Auszug</h2>
      <div class="extract">
        {{ page.extract }}
      </div>
      <div class="buttons hide-for-small">
        <button class="button primary small" data-action="read">Lesen</button>
      </div>
    </section>
    <aside class="cell small-12 medium-4 metadata">
      <button class="button primary expanded" data-action="read">Lesen</button>
      <dl>
        <dt></dt>
        <dd>
          <ol class="no-bullet">
            {{ parent_list(page.parent) }}
          </ol>
        </dd>
        {% if page.bibl %}
          <dt>Bibliographischer Nachweis</dt>
          <dd>{{ page.bibl }}</dd>
        {% endif %}
        {% if page.authors %}
          <dt>Autor</dt>
          <dd>
            <ul class="no-bullet">
              {% for author in page.authors %}
                <li>{{ author }}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
        {% if page.pdf %}
          <dt>Druckansicht des Textes</dt>
          <dd><a href="{{ page.pdf }}">Haupttext als PDF</a></dd>
        {% endif %}
        {% if page.editors %}
          {% for editor in page.editors %}
            <dt>{{ editor.role }}</dt>
            <dd>{{ editor.name }}</dd>
          {% endfor %}
        {% endif %}
        {% if page.revisions %}
          <dt>Fassung</dt>
          <dd>
            <ul class="no-bullet">
              {% for revision in page.revisions %}
                <li>{{ revision.version }} durch {% for editor in revision.editors %}{{ editor }}{% if loop.length > 0 and not loop.last%}{% if loop.index0 == loop.length - 2 %} und {% else %}, {% endif %}{% endif %}{% endfor %}, {{ revision.date|fancy_date }}{% if revision.text %}, {{ revision.text }}{% endif %}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
  <div class="reader-overlay hidden">
    <div id="app"></div>
  </div>
  <script id="TEIReaderContent" type="text/xml">
    {{ page.content }}
  </script>
  <script id="TEIReaderConfig" type="application/json">
    {
        "sections": {
            "body": {
                "label": "Text",
                "type": "Text",
                "parser": {
                    "selector": "tei:text/tei:body"
                },
                "schema": [
                    {
                        "name": "paragraph",
                        "type": "block",
                        "parser": {
                            "selector": "tei:p"
                        },
                        "attrs": {
                            "marginLeft": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-left"
                                },
                                "serialiser": {
                                    "attr": "margin-left"
                                }
                            },
                            "marginRight": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-right"
                                },
                                "serialiser": {
                                    "attr": "margin-right"
                                }
                            },
                            "marginTop": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-top"
                                },
                                "serialiser": {
                                    "attr": "margin-top"
                                }
                            },
                            "marginBottom": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-bottom"
                                },
                                "serialiser": {
                                    "attr": "margin-bottom"
                                }
                            },
                            "firstLineIndent": {
                                "default": "0.5",
                                "parser": {
                                    "selector": "@first-line-indent"
                                },
                                "serialiser": {
                                    "attr": "first-line-indent"
                                }
                            },
                            "textAlign": {
                                "default": "left",
                                "parsers": [
                                    {
                                        "selector": "contains(@style, \"text-left\")",
                                        "type": "static",
                                        "value": "left"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-center\")",
                                        "type": "static",
                                        "value": "center"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-right\")",
                                        "type": "static",
                                        "value": "right"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-justify\")",
                                        "type": "static",
                                        "value": "justify"
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "heading",
                        "type": "block",
                        "content": "inline*",
                        "parser": {
                            "selector": "tei:head"
                        },
                        "attrs": {
                            "headingId": {
                                "default": "",
                                "parser": {
                                    "selector": "@data-heading-id"
                                }
                            },
                            "level": {
                                "default": "1",
                                "parser": {
                                    "selector": "substring(@type, 7)"
                                }
                            }
                        },
                        "navigation": {
                            "attr": "headingId"
                        }
                    },
                    {
                        "name": "line",
                        "type": "block",
                        "parser": {
                            "selector": "tei:l"
                        }
                    },
                    {
                        "name": "lineGroup",
                        "type": "wrapping",
                        "content": "line",
                        "parser": {
                            "selector": "tei:lg"
                        }
                    },
                    {
                        "name": "pageLineRef",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:citedRange[@type=\"page-line-ref\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "wordRange",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:citedRange[@type=\"word-range\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "quotation",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:q",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "annotation",
                        "type": "nested",
                        "parser": {
                            "selector": "tei:interp[@type=\"esv\"]"
                        },
                        "attrs": {
                            "id": {
                                "parser": {
                                    "selector": "@xml:id"
                                }
                            }
                        }
                    },
                    {
                        "name": "footnote",
                        "type": "nested",
                        "parser": {
                            "selector": "tei:note[@type=\"footnote\"]"
                        },
                        "attrs": {
                            "id": {
                                "parser": {
                                    "selector": "@xml:id"
                                }
                            }
                        }
                    },
                    {
                        "name": "text",
                        "type": "inline",
                        "parsers": [
                            {
                                "selector": "tei:seg",
                                "text": "text()"
                            },
                            {
                                "selector": "tei:hi",
                                "text": "text()"
                            }
                        ]
                    },
                    {
                        "name": "annotationGlobal",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:ref[@target=\"#global\"]",
                            "text": "text()"
                        },
                        "attrs": {
                            "target": {
                                "default": "global",
                                "parser": {
                                    "selector": "substring(@target, 2)"
                                }
                            },
                            "headingId": {
                                "default": "",
                                "parser": {
                                    "selector": "@data-heading-id"
                                }
                            }
                        }
                    },
                    {
                        "name": "annotationMarker",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:ref[@type=\"esv\"]",
                            "text": "text()"
                        },
                        "attrs": {
                            "target": {
                                "default": "",
                                "parser": {
                                    "selector": "substring(@target, 2)"
                                }
                            }
                        },
                        "reference": {
                            "type": "annotation",
                            "attr": "target",
                            "display": "sidebar"
                        }
                    },
                    {
                        "name": "footnoteMarker",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:ref[@type=\"footnote\"]",
                            "text": "text()"
                        },
                        "attrs": {
                            "target": {
                                "default": "",
                                "parser": {
                                    "selector": "substring(@target, 2)"
                                }
                            }
                        },
                        "reference": {
                            "type": "footnote",
                            "attr": "target",
                            "display": "footnote"
                        }
                    },
                    {
                        "name": "pageBegin",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:pb",
                            "text": "@n"
                        }
                    },
                    {
                        "name": "foreignLanguage",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:foreign",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "lemma",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:lem",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "sic",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:sic",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "reading",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:rdg",
                            "text": "text()"
                        },
                        "attrs": {
                            "wit": {
                                "default": "",
                                "parser": {
                                    "selector": "substring(@wit, 2)"
                                }
                            }
                        }
                    },
                    {
                        "name": "missing",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:metamark[@function=\"missing\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "signed",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:signed",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "letterSparse",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"letter-sparse\")"
                        }
                    },
                    {
                        "name": "sup",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"sup\")"
                        }
                    },
                    {
                        "name": "fontSize",
                        "type": "mark",
                        "parsers": [
                            {
                                "selector": "contains(@style, \"font-size-small\")"
                            },
                            {
                                "selector": "contains(@style, \"font-size-medium\")"
                            },
                            {
                                "selector": "contains(@style, \"font-size-large\")"
                            }
                        ],
                        "attrs": {
                            "size": {
                                "default": "",
                                "parsers": [
                                    {
                                        "selector": "contains(@style, \"font-size-small\")",
                                        "type": "static",
                                        "value": "small"
                                    },
                                    {
                                        "selector": "contains(@style, \"font-size-medium\")",
                                        "type": "static",
                                        "value": "medium"
                                    },
                                    {
                                        "selector": "contains(@style, \"font-size-large\")",
                                        "type": "static",
                                        "value": "large"
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "fontWeightBold",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"font-weight-bold\")"
                        }
                    },
                    {
                        "name": "fontStyleItalic",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"font-style-italic\")"
                        }
                    }
                ]
            },
            "aparatus": {
                "label": "Apparat",
                "type": "Text",
                "parser": {
                    "selector": "tei:text/tei:interpGrp[@type=\"global\"]"
                },
                "schema": [
                    {
                        "name": "paragraph",
                        "type": "block",
                        "parser": {
                            "selector": "tei:p"
                        },
                        "attrs": {
                            "marginLeft": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-left"
                                },
                                "serialiser": {
                                    "attr": "margin-left"
                                }
                            },
                            "marginRight": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-right"
                                },
                                "serialiser": {
                                    "attr": "margin-right"
                                }
                            },
                            "marginTop": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-top"
                                },
                                "serialiser": {
                                    "attr": "margin-top"
                                }
                            },
                            "marginBottom": {
                                "default": "0",
                                "parser": {
                                    "selector": "@margin-bottom"
                                },
                                "serialiser": {
                                    "attr": "margin-bottom"
                                }
                            },
                            "firstLineIndent": {
                                "default": "0.5",
                                "parser": {
                                    "selector": "@first-line-indent"
                                },
                                "serialiser": {
                                    "attr": "first-line-indent"
                                }
                            },
                            "textAlign": {
                                "default": "left",
                                "parsers": [
                                    {
                                        "selector": "contains(@style, \"text-left\")",
                                        "type": "static",
                                        "value": "left"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-center\")",
                                        "type": "static",
                                        "value": "center"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-right\")",
                                        "type": "static",
                                        "value": "right"
                                    },
                                    {
                                        "selector": "contains(@style, \"text-justify\")",
                                        "type": "static",
                                        "value": "justify"
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "heading",
                        "type": "block",
                        "content": "inline*",
                        "parser": {
                            "selector": "tei:head"
                        },
                        "attrs": {
                            "headingId": {
                                "default": "",
                                "parser": {
                                    "selector": "@data-heading-id"
                                }
                            },
                            "level": {
                                "default": "1",
                                "parser": {
                                    "selector": "substring(@type, 7)"
                                }
                            }
                        }
                    },
                    {
                        "name": "source",
                        "type": "block",
                        "parser": {
                            "selector": "tei:item"
                        },
                        "attrs": {
                            "sourceId": {
                                "default": "",
                                "parser": {
                                    "selector": "@data-source-id"
                                }
                            }
                        }
                    },
                    {
                        "name": "sourceList",
                        "type": "wrapping",
                        "content": "source",
                        "parser": {
                            "selector": "tei:list[@type=\"sources\"]"
                        }
                    },
                    {
                        "name": "text",
                        "type": "inline",
                        "parsers": [
                            {
                                "selector": "tei:seg",
                                "text": "text()"
                            },
                            {
                                "selector": "tei:hi",
                                "text": "text()"
                            }
                        ]
                    },
                    {
                        "name": "pageLineRef",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:citedRange[@type=\"page-line-ref\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "wordRange",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:citedRange[@type=\"word-range\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "annotationGlobal",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:ref[@target=\"#global\"]",
                            "text": "text()"
                        },
                        "attrs": {
                            "target": {
                                "default": "global",
                                "parser": {
                                    "selector": "substring(@target, 2)"
                                }
                            },
                            "headingId": {
                                "default": "",
                                "parser": {
                                    "selector": "@data-heading-id"
                                }
                            }
                        }
                    },
                    {
                        "name": "annotationMarker",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:ref",
                            "text": "text()"
                        },
                        "attrs": {
                            "target": {
                                "default": "unknown",
                                "parser": {
                                    "selector": "substring(@target, 2)"
                                }
                            }
                        }
                    },
                    {
                        "name": "foreignLanguage",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:foreign",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "quotation",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:q",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "lemma",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:lem",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "sic",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:sic",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "reading",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:rdg",
                            "text": "text()"
                        },
                        "attrs": {
                            "wit": {
                                "default": "",
                                "parser": {
                                    "selector": "substring(@wit, 2)"
                                }
                            }
                        }
                    },
                    {
                        "name": "missing",
                        "type": "inline",
                        "parser": {
                            "selector": "tei:metamark[@function=\"missing\"]",
                            "text": "text()"
                        }
                    },
                    {
                        "name": "letterSparse",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"letter-sparse\")"
                        }
                    },
                    {
                        "name": "sup",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"sup\")"
                        }
                    },
                    {
                        "name": "fontSize",
                        "type": "mark",
                        "parsers": [
                            {
                                "selector": "contains(@style, \"font-size-small\")"
                            },
                            {
                                "selector": "contains(@style, \"font-size-medium\")"
                            },
                            {
                                "selector": "contains(@style, \"font-size-large\")"
                            }
                        ],
                        "attrs": {
                            "size": {
                                "default": "",
                                "parsers": [
                                    {
                                        "selector": "contains(@style, \"font-size-small\")",
                                        "type": "static",
                                        "value": "small"
                                    },
                                    {
                                        "selector": "contains(@style, \"font-size-medium\")",
                                        "type": "static",
                                        "value": "medium"
                                    },
                                    {
                                        "selector": "contains(@style, \"font-size-large\")",
                                        "type": "static",
                                        "value": "large"
                                    }
                                ]
                            }
                        }
                    },
                    {
                        "name": "fontWeightBold",
                        "type": "mark",
                        "parser": {
                            "selector": "contains(@style, \"font-weight-bold\")"
                        }
                    }
                ]
            },
            "annotations": {
                "label": "Stellenerläuterungen",
                "type": "NestedList",
                "source": "body",
                "nodeName": "annotation"
            }
        },
        "ui": {
            "closeLabel": "Schließen"
        }
    }
  </script>
  <script>
      const overlayElement = document.querySelector('.reader-overlay');
      const bodyElement = document.querySelector('body');

      window.TEIReader = {
          callbacks: {
              autoLoad: function(callback) {
                  const content = document.querySelector('#TEIReaderContent');
                  if (content) {
                      callback({
                          content: content.innerHTML,
                          identifier: '{{ page.slug|sha256 }}'
                      });
                  }
              },
              close: function() {
                  overlayElement.classList.add('hidden');
                  bodyElement.classList.remove('overflow-hidden');
              }
          }
      }

      const readLinks = document.querySelectorAll('*[data-action="read"]');
      for (let idx = 0; idx < readLinks.length; idx++) {
          readLinks[idx].addEventListener('click', function(ev) {
              overlayElement.classList.remove('hidden');
              bodyElement.classList.add('overflow-hidden');
          });
      }

      overlayElement.addEventListener('click', function(ev) {
          if (ev.target === overlayElement) {
              overlayElement.classList.add('hidden');
              bodyElement.classList.remove('overflow-hidden');
          }
      });

      const teiReaderSrc = window.localStorage.getItem('tei-reader');
      if (teiReaderSrc) {
          const teiReader = JSON.parse(teiReaderSrc);
          if (teiReader && teiReader['{{ page.slug|sha256 }}']) {
              for (let idx = 0; idx < readLinks.length; idx++) {
                  if (readLinks[idx].getAttribute('data-action-read-no-inner-html') === null) {
                      readLinks[idx].innerHTML = 'Weiterlesen ...';
                  }
              }
          }
      }
  </script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/reader/chunk-vendors.js"></script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/reader/app.js"></script>
{% endblock %}
