{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/digital-edition-reader.css"/>
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  <h1>{{ page.title }}</h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-8">
      <ul class="tabs" data-tabs id="werke-tabs">
        <li class="tabs-title is-active"><a href="#auszug" aria-selected="true">Auszug</a></li>
        <li class="tabs-title"><a href="#global">Globalkommentar</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="werke-tabs">
        <div class="tabs-panel is-active taxonomy-tree" id="auszug">
          {{ page.summary }}
        </div>
        <div class="tabs-panel" id="global">
          {{ page.comments }}
        </div>
      </div>
      <div id="reader-attachment-point"></div>
    </section>
    <aside class="cell small-12 medium-4">
      <dl>
        {% if page.bibl %}
        <dt>Bibliographie</dt>
        <dd>{{ page.bibl }}</dd>
        {% endif %}
        {% if page.authors %}
        <dt>Autor</dt>
        <dd>
          <ul class="no-bullet">
            {% for author in page.authors %}
              <li>{{ author }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.pdf %}
        <dt>Download</dt>
        <dd><a href="{{ page.pdf }}">Download as PDF</a></dd>
        {% endif %}
        {% if page.editors %}
        <dt>Bearbeiter</dt>
        <dd>
          <ul class="no-bullet">
            {% for editor in page.editors %}
              <li><abbr title="{{ editor.role }}" data-tooltip data-position="bottom" data-alignment="left">{{ editor.name }}</abbr></li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.revisions %}
        <dt>Versionen</dt>
        <dd>
          <ul class="no-bullet">
            {% for revision in page.revisions | reverse() %}
              <li class="ellipsis"><abbr title="{{ revision.date }}: {{ revision.revision }} [{{ revision.name | join(', ') }}]" data-tooltip data-position="bottom" data-alignment="left">{{ revision.revision }}</abbr> [{{ revision.name | join(', ') }}]</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
  <div id="reader-raw-html">{{ page.content }}</div>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/digital-edition-reader.js"></script>
  <script>
  DigitalEditionReader.install(document.getElementById('reader-attachment-point'), {
      text: document.getElementById('reader-raw-html').innerHTML,
      openReaderLabel: 'Weiterlesen'
  });
  </script>
{% endblock %}
