{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/tei-reader.css"/>
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  <h1>{{ page.title }}</h1>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-8">
      <ul class="tabs" data-tabs id="werke-tabs">
        <li class="tabs-title is-active"><a href="#auszug" aria-selected="true">Auszug</a></li>
        <li class="tabs-title"><a href="#global">Kommentierung</a></li>
      </ul>
      <div class="tabs-content" data-tabs-content="werke-tabs">
        <div class="tabs-panel is-active taxonomy-tree" id="auszug">
          <div id="source">
            {{ page.content }}
            <div class="nav">{{ page.nav }}</div>
            <div class="annotation">{{ page.annotation }}</div>
          </div>
          <script>
            window.teiReaderConfig = {
              loader: 'local-html-json',
              elements: {
                  text: '#source .text',
                  nav: '#source .nav',
                  annotation: '#source .annotation'
              }
            };
          </script>
          <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/tei-reader.js"></script>
          <tei-reader></tei-reader>
          <p>{{ page.summary }}</p>
          <p class="text-right">
            <button class="button primary" data-action="read">Weiterlesen ...</button>
          </p>
        </div>
        <div class="tabs-panel" id="global">
          {{ page.global_comment }}
        </div>
      </div>
    </section>
    <aside class="cell small-12 medium-4 metadata">
      <dl>
        {% if page.bibl %}
        <dt>Bibliographischer Nachweis</dt>
        <dd>{{ page.bibl }}</dd>
        {% endif %}
        {% if page.authors %}
        <dt>Autor</dt>
        <dd>
          <ul class="no-bullet">
            {% for author in page.authors %}
              <li>{{ author }}</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
        {% if page.pdf %}
        <dt>Druckansicht des Textes</dt>
        <dd><a href="{{ page.pdf }}">Haupttext als PDF</a></dd>
        {% endif %}
        {% if page.editors %}
          {% for grouper, editors in page.editors|groupby('role') %}
            <dt>{{ grouper }}</dt>
            <dd>
              <ul class="no-bullet no-indent">
                {% for editor in editors %}
                  <li>{{ editor.name }}</li>
                {% endfor %}
              <ul>
            </dd>
          {% endfor %}
        {% endif %}
        {% if page.revisions %}
        <dt>Geschichte der Textversionen in der Internetausgabe</dt>
        <dd>
          <ul class="no-bullet">
            {% for revision in page.revisions | reverse() %}
              <li class="ellipsis"><abbr title="{{ revision.date }}: {{ revision.revision }} [{{ revision.name | join(', ') }}]" data-tooltip data-position="bottom" data-alignment="left">{{ revision.revision }}</abbr> [{{ revision.name | join(', ') }}]</li>
            {% endfor %}
          </ul>
        </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
  <script>
    var teiReader = null;

    document.querySelector('*[data-action="read"]').addEventListener('click', function(ev) {
        ev.preventDefault();
        if (teiReader === null) {
            teiReader = document.querySelector('#tei-reader');
            teiReader.addEventListener('click', function(ev) {
                if (ev.target === teiReader) {
                    teiReader.classList.toggle('visible');
                }
            });
        }
        teiReader.classList.toggle('visible');
    });
  </script>
{% endblock %}
