{% extends "base.html" %}
{% macro parent_list(node) %}
  {% if node.parent and node.parent.title != 'Digitale Gesamtausgabe' %}{{ parent_list(node.parent) }}{% endif %}
  <li><a href="{{ SITEURL }}/{{ node.url }}">{{ node.title }}</a></li>
{% endmacro %}
{% block head %}
  {{ super() }}
  <link rel="alternate" type="application/tei+xml" href="{{ SITEURL }}/{{ page.url[:-5] }}.tei"/>
{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  <div class="grid-x">
    <h1 class="cell small-10 medium-12">{{ page.title }}</h1>
    <div class="cell small-2 hide-for-medium" style="align-self: center; text-align: right;">
      <button data-action="read" data-action-read-no-inner-html class="button primary clear" aria-label="Lesen" style="margin: 0;">
        <svg class="icon primary large" viewBox="0 0 24 24">
          <path d="M19 1L14 6V17L19 12.5V1M21 5V18.5C19.9 18.15 18.7 18 17.5 18C15.8 18 13.35 18.65 12 19.5V6C10.55 4.9 8.45 4.5 6.5 4.5C4.55 4.5 2.45 4.9 1 6V20.65C1 20.9 1.25 21.15 1.5 21.15C1.6 21.15 1.65 21.1 1.75 21.1C3.1 20.45 5.05 20 6.5 20C8.45 20 10.55 20.4 12 21.5C13.35 20.65 15.8 20 17.5 20C19.15 20 20.85 20.3 22.25 21.05C22.35 21.1 22.4 21.1 22.5 21.1C22.75 21.1 23 20.85 23 20.6V6C22.4 5.55 21.75 5.25 21 5M10 18.41C8.75 18.09 7.5 18 6.5 18C5.44 18 4.18 18.19 3 18.5V7.13C3.91 6.73 5.14 6.5 6.5 6.5C7.86 6.5 9.09 6.73 10 7.13V18.41Z" />
        </svg>
      </button>
    </div>
  </div>
  {% import 'translations.html' as translations with context %}
  {{ translations.translations_for(page) }}
  <div class="grid-x grid-padding-x">
    <section class="cell small-12 medium-8 text-extract">
      <h2 class="cell small-10">Auszug</h2>
      <div class="extract">
        {{ page.extract }}
      </div>
      <div class="buttons hide-for-small-only">
        <button class="button primary small" data-action="read">Lesen</button>
      </div>
    </section>
    <aside class="cell small-12 medium-4 metadata">
      <button class="button primary expanded" data-action="read">Lesen</button>
      <dl>
        <dt></dt>
        <dd>
          <ol class="no-bullet">
            {{ parent_list(page.parent) }}
          </ol>
        </dd>
        {% if page.bibl %}
          <dt>Bibliographischer Nachweis</dt>
          <dd>{{ page.bibl }}</dd>
        {% endif %}
        {% if page.authors %}
          <dt>Autor</dt>
          <dd>
            <ul class="no-bullet">
              {% for author in page.authors %}
                <li>{{ author }}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
        {% if page.pdf %}
          <dt>Druckansicht des Textes</dt>
          <dd><a href="{{ page.pdf }}">Haupttext als PDF</a></dd>
        {% endif %}
        {% if page.editors %}
          {% for editor in page.editors %}
            <dt>{{ editor.role }}</dt>
            <dd>{{ editor.name }}</dd>
          {% endfor %}
        {% endif %}
        {% if page.revisions %}
          <dt>Fassung</dt>
          <dd>
            <ul class="no-bullet">
              {% for revision in page.revisions[-1:] %}
                <li>{{ revision.version }}, {% if revision.text %}{{ revision.text }}, {% endif %}{{ revision.date|fancy_date }}</li>
              {% endfor %}
            </ul>
          </dd>
        {% endif %}
      </dl>
    </aside>
  </div>
  <div class="reader-overlay hidden">
    <div class="reader-wrapper">
      <button class="reader-close" data-action="close">
        <svg viewBox="0 0 24 24">
          <path fill="currentColor" d="M19,6.41L17.59,5L12,10.59L6.41,5L5,6.41L10.59,12L5,17.59L6.41,19L12,13.41L17.59,19L19,17.59L13.41,12L19,6.41Z" />
        </svg>
      </button>
      <tei-reader documentid="{{ page.slug|sha256 }}" stylingsrc="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/css/reader.68187737ad837f4f35bc16863e1a1c2e.css" teisrc="{{ SITEURL }}/{{ page.url[:-5] }}.tei" teischema="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/config/tei-schema.json" uiconfig="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/config/ui-config.json"></tei-reader>
    </div>
  </div>
  <script>
    const readerOverlay = document.querySelector('.reader-overlay');
    const readerWrapper = document.querySelector('.reader-wrapper');
    const showReaderButtons = document.querySelectorAll('[data-action="read"]');
    const hideReaderButton = document.querySelector('[data-action="close"]');

    function showReader() {
        readerOverlay.classList.remove('hidden');
        document.querySelector('html').style.overflow = 'hidden';
    }

    function hideReader() {
        readerOverlay.classList.add('hidden');
        document.querySelector('html').style.overflow = 'auto';
    }

    const readerStore = localStorage.getItem('tei-reader:storage');
    let continueReading = false;
    if (readerStore) {
        const readerData = JSON.parse(readerStore);
        if (readerData['{{ page.slug|sha256 }}']) {
          continueReading = true;
        }
    }
    for (let btn of showReaderButtons) {
        btn.addEventListener('click', showReader);
        if (continueReading) {
            if (btn.hasAttribute('data-action-read-no-inner-html')) {
                btn.setAttribute('aria-label', 'Weiterlesen');
            } else {
                btn.innerHTML = 'Weiterlesen';
            }
        }
    }
    hideReaderButton.addEventListener('click', hideReader);
    readerWrapper.addEventListener('click', (ev) => {
        ev.preventDefault();
        ev.stopPropagation();
    })
    readerOverlay.addEventListener('click', (ev) => {
      hideReader();
    })
  </script>
  <script src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/js/reader.2885eecc150a94c4eeaa5e5a24eb860a.js"></script>
{% endblock %}
