{% macro taxonomy(elements, children, hierarchy=(), nested=True) -%}
  <ul class="menu vertical {{ 'nested' if nested else '' }}">
    {% for element in elements %}
      {% if page.children|selectattr('taxonomy', 'equalto', ', '.join(hierarchy + (element[1], )))|first() %}
        <li><a href="{{ SITEURL }}/{{ page.children|selectattr('taxonomy', 'equalto', ', '.join(hierarchy + (element[1], )))|first()|attr('url') }}">{{ element[0] }}</a>
      {% else %}
        <li><span class="menu-text">{{ element[0] }}</span>
      {% endif %}
        {% if element[2] %}
          {{ taxonomy(element[2], children, hierarchy + (element[1],)) }}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{%- endmacro -%}
{% extends "page.html" %}
{% block breadcrumb_title %}{{ page.title }}{% endblock %}
{% block content %}
  {{ super() }}
  <ul class="tabs" data-tabs id="werke-tabs">
    <li class="tabs-title is-active"><a href="#abteilungen" aria-selected="true">Abteilungen</a></li>
    <li class="tabs-title"><a href="#chronologisch">Chronologisch</a></li>
    <li class="tabs-title"><a href="#alphabetisch">Alphabetisch</a></li>
  </ul>
  <div class="tabs-content" data-tabs-content="werke-tabs">
    <div class="tabs-panel is-active taxonomy-tree" id="abteilungen">
      {{ taxonomy(TAXONOMY, page.children, nested=False) }}
    </div>
    <div class="tabs-panel" id="chronologisch">
      <ul class="menu vertical">
        {% for grouper, items in page.children|groupby('year') %}
          <li><span class="menu-text">{{ grouper }}</span>
            <ul class="menu vertical nested">
              {% for grouper, items in page.children|groupby('month') %}
                <li><span class="menu-text">{{ grouper }}</span>
                  <ul class="menu vertical nested">
                    {% for child in items|sort(attribute='date') %}
                      <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="tabs-panel" id="alphabetisch">
      <ul class="menu vertical">
        {% for grouper, items in page.children|groupby('title-letter') %}
          <li><span class="menu-text">{{ grouper }}</span>
            <ul class="menu vertical nested">
              {% for child in items|sort(attribute='title') %}
                <li><a href="{{ SITEURL }}/{{ child.url }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

{% endblock %}
