/**
 * Colour overrides
 */
html[data-theme="light"] {
  --pst-color-primary: #b7512a;
  --gutzkow-popup-overlay-bg: rgba(255, 255, 255, .7);
  --gutzkow-popup-content-bg: #ffffff;
}
html[data-theme="dark"] {
  --pst-color-primary: #be6541;
}

/**
 * Landing-page styling
 */
.gutzkow-landing-image {
  position: relative;
  overflow: hidden;
}

.gutzkow-landing-image img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  opacity: 0;
  transition: opacity 1s;
  border-radius: 2rem;
  overflow: hidden;
}

.gutzkow-landing-image img.current {
  opacity: 1;
}

blockquote.gutzkow-landing-quote {
  background: var(--pst-color-background);
  border-left: 0;
  border-radius: 0;
}

blockquote.gutzkow-landing-quote::before {
  display: none;
}

/**
 * Header styling
 */
.tei h1, .tei h2, .tei h3, .tei h4 {
  text-align: center;
}

.tei h1 {
  font-size: 16pt;
  font-weight: bold;
}

.tei h2 {
  font-size: 14pt;
  font-weight: bold;
}

.tei h3 {
  font-size: 13pt;
  font-weight: bold;
  color: var(--pst-color-primary);
}

.tei h4 {
  font-size: 12pt;
  font-weight: bold;
  color: var(--pst-color-primary);
}

/**
 * Alignment styling
 */
[data-style~="text-align-left"] {
  text-align: left;
}

[data-style~=".text-align-center"] {
  text-align: center;
}

[data-style~=".text-align-right"] {
  text-align: right;
}

[data-style~=".text-align-justify"] {
  text-align: justify;
}

/**
 * Footnote / ESV Popup styling
 */
aside[data-type="esv"], aside[data-type="footnote"] {
  display: none;
}

aside[data-type="esv-list-item"] {
  display: block;
  margin-bottom: 1rem;
}

.popup-overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: var(--gutzkow-popup-overlay-bg);
  z-index: 2000;
}
.popup-overlay.active {
  display: block;
}

.popup-box {
  position: absolute;
  bottom: 0;
  background: var(--gutzkow-popup-content-bg);
  border: 1px solid var(--pst-color-border);
  padding: 0.2rem;
  margin-bottom: 2px;
  box-shadow: 0 0 0.25rem var(--pst-color-shadow);
}

.popup-content {
  max-height: 50vh;
  overflow-y: auto;
}

.popup-close {
  position: absolute;
  z-index: 2001;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  color: var(--pst-color-primary);
  background: var(--gutzkow-popup-content-bg);
  border: 1px solid var(--pst-color-border);
  border-radius: 9999px;
}

/**
 * Custom element styling
 */
[data-tei-tag="pb"] {
  font-size: 80%;
  font-style: italic;
}
[data-tei-tag="pb"]::before {
  content: "[";
}
[data-tei-tag="pb"]::after {
  content: "]";
}

[data-tei-tag="speaker"] {
  font-variant: small-caps;
}

[data-tei-tag="foreign"] {
  font-weight: 300;
}

[data-tei-tag="stage"] {
  font-size: 80%;
  font-variant: normal;
}

[data-tei-tag="citedRange"][data-type="page-line-ref"] {
  font-weight: bold;
}

[data-tei-tag="citedRange"][data-type="word-range"] {
  padding-left: 1rem;
}

[data-tei-tag="sic"] {
  font-style: italic;
}

[data-tei-tag="rdg"] {
  font-style: italic;
}

[data-tei-tag="lem"] {
  font-style: italic;
}

[data-tei-tag="lem"]::after {
  content: ' ]';
  font-style: normal;
}

[data-tei-tag="metamark"][data-type="missing"]::before {
  content: '\25fc';
  vertical-align: sub;
}

[data-tei-tag="metamark"][data-type="missing"]::after {
  content: '\25fc';
  vertical-align: super;
}

[data-tei-tag="signed"] {
  font-weight: bold;
}

[data-tei-tag="q"] {
  font-style: italic;
}


/**
 * Text styling
 */
[data-style~="font-style-italic"] {
  font-style: italic
}
[data-style~="font-weight-bold"] {
  font-weight: bold;
}

[data-style~="font-size-small"] {
  font-size: 10pt;
}
[data-style~="font-size-medium"] {
  font-size: 13pt;
}
[data-style~="font-size-medium"] {
  font-size: 15pt;
}
[data-style~="letter-sparse"] {
  letter-spacing: 0.1rem;
}

sup {
  font-size: 80%;
}

a[data-type="esv"], a[data-type="footnote"] {
  text-decoration: underline dotted;
}

/**
 * Indentation handling
 */
 [data-margin-left="0"] {
  margin-left: 0cm;
}
[data-margin-right="0"] {
  margin-right: 0cm;
}
[data-margin-top="0"] {
  margin-top: 0cm;
}
[data-margin-bottom="0"] {
  margin-bottom: 0cm;
}
[data-first-line-indent="0"] {
  text-indent: 0cm;
}
[data-margin-left="0.1"] {
  margin-left: 0.1cm;
}
[data-margin-right="0.1"] {
  margin-right: 0.1cm;
}
[data-margin-top="0.1"] {
  margin-top: 0.1cm;
}
[data-margin-bottom="0.1"] {
  margin-bottom: 0.1cm;
}
[data-first-line-indent="0.1"] {
  text-indent: 0.1cm;
}
[data-margin-left="0.2"] {
  margin-left: 0.2cm;
}
[data-margin-right="0.2"] {
  margin-right: 0.2cm;
}
[data-margin-top="0.2"] {
  margin-top: 0.2cm;
}
[data-margin-bottom="0.2"] {
  margin-bottom: 0.2cm;
}
[data-first-line-indent="0.2"] {
  text-indent: 0.2cm;
}
[data-margin-left="0.3"] {
  margin-left: 0.3cm;
}
[data-margin-right="0.3"] {
  margin-right: 0.3cm;
}
[data-margin-top="0.3"] {
  margin-top: 0.3cm;
}
[data-margin-bottom="0.3"] {
  margin-bottom: 0.3cm;
}
[data-first-line-indent="0.3"] {
  text-indent: 0.3cm;
}
[data-margin-left="0.4"] {
  margin-left: 0.4cm;
}
[data-margin-right="0.4"] {
  margin-right: 0.4cm;
}
[data-margin-top="0.4"] {
  margin-top: 0.4cm;
}
[data-margin-bottom="0.4"] {
  margin-bottom: 0.4cm;
}
[data-first-line-indent="0.4"] {
  text-indent: 0.4cm;
}
[data-margin-left="0.5"] {
  margin-left: 0.5cm;
}
[data-margin-right="0.5"] {
  margin-right: 0.5cm;
}
[data-margin-top="0.5"] {
  margin-top: 0.5cm;
}
[data-margin-bottom="0.5"] {
  margin-bottom: 0.5cm;
}
[data-first-line-indent="0.5"] {
  text-indent: 0.5cm;
}
[data-margin-left="0.6"] {
  margin-left: 0.6cm;
}
[data-margin-right="0.6"] {
  margin-right: 0.6cm;
}
[data-margin-top="0.6"] {
  margin-top: 0.6cm;
}
[data-margin-bottom="0.6"] {
  margin-bottom: 0.6cm;
}
[data-first-line-indent="0.6"] {
  text-indent: 0.6cm;
}
[data-margin-left="0.7"] {
  margin-left: 0.7cm;
}
[data-margin-right="0.7"] {
  margin-right: 0.7cm;
}
[data-margin-top="0.7"] {
  margin-top: 0.7cm;
}
[data-margin-bottom="0.7"] {
  margin-bottom: 0.7cm;
}
[data-first-line-indent="0.7"] {
  text-indent: 0.7cm;
}
[data-margin-left="0.8"] {
  margin-left: 0.8cm;
}
[data-margin-right="0.8"] {
  margin-right: 0.8cm;
}
[data-margin-top="0.8"] {
  margin-top: 0.8cm;
}
[data-margin-bottom="0.8"] {
  margin-bottom: 0.8cm;
}
[data-first-line-indent="0.8"] {
  text-indent: 0.8cm;
}
[data-margin-left="0.9"] {
  margin-left: 0.9cm;
}
[data-margin-right="0.9"] {
  margin-right: 0.9cm;
}
[data-margin-top="0.9"] {
  margin-top: 0.9cm;
}
[data-margin-bottom="0.9"] {
  margin-bottom: 0.9cm;
}
[data-first-line-indent="0.9"] {
  text-indent: 0.9cm;
}
[data-margin-left="1"] {
  margin-left: 1cm;
}
[data-margin-right="1"] {
  margin-right: 1cm;
}
[data-margin-top="1"] {
  margin-top: 1cm;
}
[data-margin-bottom="1"] {
  margin-bottom: 1cm;
}
[data-first-line-indent="1"] {
  text-indent: 1cm;
}
[data-margin-left="1.1"] {
  margin-left: 1.1cm;
}
[data-margin-right="1.1"] {
  margin-right: 1.1cm;
}
[data-margin-top="1.1"] {
  margin-top: 1.1cm;
}
[data-margin-bottom="1.1"] {
  margin-bottom: 1.1cm;
}
[data-first-line-indent="1.1"] {
  text-indent: 1.1cm;
}
[data-margin-left="1.2"] {
  margin-left: 1.2cm;
}
[data-margin-right="1.2"] {
  margin-right: 1.2cm;
}
[data-margin-top="1.2"] {
  margin-top: 1.2cm;
}
[data-margin-bottom="1.2"] {
  margin-bottom: 1.2cm;
}
[data-first-line-indent="1.2"] {
  text-indent: 1.2cm;
}
[data-margin-left="1.3"] {
  margin-left: 1.3cm;
}
[data-margin-right="1.3"] {
  margin-right: 1.3cm;
}
[data-margin-top="1.3"] {
  margin-top: 1.3cm;
}
[data-margin-bottom="1.3"] {
  margin-bottom: 1.3cm;
}
[data-first-line-indent="1.3"] {
  text-indent: 1.3cm;
}
[data-margin-left="1.4"] {
  margin-left: 1.4cm;
}
[data-margin-right="1.4"] {
  margin-right: 1.4cm;
}
[data-margin-top="1.4"] {
  margin-top: 1.4cm;
}
[data-margin-bottom="1.4"] {
  margin-bottom: 1.4cm;
}
[data-first-line-indent="1.4"] {
  text-indent: 1.4cm;
}
[data-margin-left="1.5"] {
  margin-left: 1.5cm;
}
[data-margin-right="1.5"] {
  margin-right: 1.5cm;
}
[data-margin-top="1.5"] {
  margin-top: 1.5cm;
}
[data-margin-bottom="1.5"] {
  margin-bottom: 1.5cm;
}
[data-first-line-indent="1.5"] {
  text-indent: 1.5cm;
}
[data-margin-left="1.6"] {
  margin-left: 1.6cm;
}
[data-margin-right="1.6"] {
  margin-right: 1.6cm;
}
[data-margin-top="1.6"] {
  margin-top: 1.6cm;
}
[data-margin-bottom="1.6"] {
  margin-bottom: 1.6cm;
}
[data-first-line-indent="1.6"] {
  text-indent: 1.6cm;
}
[data-margin-left="1.7"] {
  margin-left: 1.7cm;
}
[data-margin-right="1.7"] {
  margin-right: 1.7cm;
}
[data-margin-top="1.7"] {
  margin-top: 1.7cm;
}
[data-margin-bottom="1.7"] {
  margin-bottom: 1.7cm;
}
[data-first-line-indent="1.7"] {
  text-indent: 1.7cm;
}
[data-margin-left="1.8"] {
  margin-left: 1.8cm;
}
[data-margin-right="1.8"] {
  margin-right: 1.8cm;
}
[data-margin-top="1.8"] {
  margin-top: 1.8cm;
}
[data-margin-bottom="1.8"] {
  margin-bottom: 1.8cm;
}
[data-first-line-indent="1.8"] {
  text-indent: 1.8cm;
}
[data-margin-left="1.9"] {
  margin-left: 1.9cm;
}
[data-margin-right="1.9"] {
  margin-right: 1.9cm;
}
[data-margin-top="1.9"] {
  margin-top: 1.9cm;
}
[data-margin-bottom="1.9"] {
  margin-bottom: 1.9cm;
}
[data-first-line-indent="1.9"] {
  text-indent: 1.9cm;
}
[data-margin-left="2"] {
  margin-left: 2cm;
}
[data-margin-right="2"] {
  margin-right: 2cm;
}
[data-margin-top="2"] {
  margin-top: 2cm;
}
[data-margin-bottom="2"] {
  margin-bottom: 2cm;
}
[data-first-line-indent="2"] {
  text-indent: 2cm;
}
[data-margin-left="2.1"] {
  margin-left: 2.1cm;
}
[data-margin-right="2.1"] {
  margin-right: 2.1cm;
}
[data-margin-top="2.1"] {
  margin-top: 2.1cm;
}
[data-margin-bottom="2.1"] {
  margin-bottom: 2.1cm;
}
[data-first-line-indent="2.1"] {
  text-indent: 2.1cm;
}
[data-margin-left="2.2"] {
  margin-left: 2.2cm;
}
[data-margin-right="2.2"] {
  margin-right: 2.2cm;
}
[data-margin-top="2.2"] {
  margin-top: 2.2cm;
}
[data-margin-bottom="2.2"] {
  margin-bottom: 2.2cm;
}
[data-first-line-indent="2.2"] {
  text-indent: 2.2cm;
}
[data-margin-left="2.3"] {
  margin-left: 2.3cm;
}
[data-margin-right="2.3"] {
  margin-right: 2.3cm;
}
[data-margin-top="2.3"] {
  margin-top: 2.3cm;
}
[data-margin-bottom="2.3"] {
  margin-bottom: 2.3cm;
}
[data-first-line-indent="2.3"] {
  text-indent: 2.3cm;
}
[data-margin-left="2.4"] {
  margin-left: 2.4cm;
}
[data-margin-right="2.4"] {
  margin-right: 2.4cm;
}
[data-margin-top="2.4"] {
  margin-top: 2.4cm;
}
[data-margin-bottom="2.4"] {
  margin-bottom: 2.4cm;
}
[data-first-line-indent="2.4"] {
  text-indent: 2.4cm;
}
[data-margin-left="2.5"] {
  margin-left: 2.5cm;
}
[data-margin-right="2.5"] {
  margin-right: 2.5cm;
}
[data-margin-top="2.5"] {
  margin-top: 2.5cm;
}
[data-margin-bottom="2.5"] {
  margin-bottom: 2.5cm;
}
[data-first-line-indent="2.5"] {
  text-indent: 2.5cm;
}
[data-margin-left="2.6"] {
  margin-left: 2.6cm;
}
[data-margin-right="2.6"] {
  margin-right: 2.6cm;
}
[data-margin-top="2.6"] {
  margin-top: 2.6cm;
}
[data-margin-bottom="2.6"] {
  margin-bottom: 2.6cm;
}
[data-first-line-indent="2.6"] {
  text-indent: 2.6cm;
}
[data-margin-left="2.7"] {
  margin-left: 2.7cm;
}
[data-margin-right="2.7"] {
  margin-right: 2.7cm;
}
[data-margin-top="2.7"] {
  margin-top: 2.7cm;
}
[data-margin-bottom="2.7"] {
  margin-bottom: 2.7cm;
}
[data-first-line-indent="2.7"] {
  text-indent: 2.7cm;
}
[data-margin-left="2.8"] {
  margin-left: 2.8cm;
}
[data-margin-right="2.8"] {
  margin-right: 2.8cm;
}
[data-margin-top="2.8"] {
  margin-top: 2.8cm;
}
[data-margin-bottom="2.8"] {
  margin-bottom: 2.8cm;
}
[data-first-line-indent="2.8"] {
  text-indent: 2.8cm;
}
[data-margin-left="2.9"] {
  margin-left: 2.9cm;
}
[data-margin-right="2.9"] {
  margin-right: 2.9cm;
}
[data-margin-top="2.9"] {
  margin-top: 2.9cm;
}
[data-margin-bottom="2.9"] {
  margin-bottom: 2.9cm;
}
[data-first-line-indent="2.9"] {
  text-indent: 2.9cm;
}
[data-margin-left="3"] {
  margin-left: 3cm;
}
[data-margin-right="3"] {
  margin-right: 3cm;
}
[data-margin-top="3"] {
  margin-top: 3cm;
}
[data-margin-bottom="3"] {
  margin-bottom: 3cm;
}
[data-first-line-indent="3"] {
  text-indent: 3cm;
}
[data-margin-left="3.1"] {
  margin-left: 3.1cm;
}
[data-margin-right="3.1"] {
  margin-right: 3.1cm;
}
[data-margin-top="3.1"] {
  margin-top: 3.1cm;
}
[data-margin-bottom="3.1"] {
  margin-bottom: 3.1cm;
}
[data-first-line-indent="3.1"] {
  text-indent: 3.1cm;
}
[data-margin-left="3.2"] {
  margin-left: 3.2cm;
}
[data-margin-right="3.2"] {
  margin-right: 3.2cm;
}
[data-margin-top="3.2"] {
  margin-top: 3.2cm;
}
[data-margin-bottom="3.2"] {
  margin-bottom: 3.2cm;
}
[data-first-line-indent="3.2"] {
  text-indent: 3.2cm;
}
[data-margin-left="3.3"] {
  margin-left: 3.3cm;
}
[data-margin-right="3.3"] {
  margin-right: 3.3cm;
}
[data-margin-top="3.3"] {
  margin-top: 3.3cm;
}
[data-margin-bottom="3.3"] {
  margin-bottom: 3.3cm;
}
[data-first-line-indent="3.3"] {
  text-indent: 3.3cm;
}
[data-margin-left="3.4"] {
  margin-left: 3.4cm;
}
[data-margin-right="3.4"] {
  margin-right: 3.4cm;
}
[data-margin-top="3.4"] {
  margin-top: 3.4cm;
}
[data-margin-bottom="3.4"] {
  margin-bottom: 3.4cm;
}
[data-first-line-indent="3.4"] {
  text-indent: 3.4cm;
}
[data-margin-left="3.5"] {
  margin-left: 3.5cm;
}
[data-margin-right="3.5"] {
  margin-right: 3.5cm;
}
[data-margin-top="3.5"] {
  margin-top: 3.5cm;
}
[data-margin-bottom="3.5"] {
  margin-bottom: 3.5cm;
}
[data-first-line-indent="3.5"] {
  text-indent: 3.5cm;
}
[data-margin-left="3.6"] {
  margin-left: 3.6cm;
}
[data-margin-right="3.6"] {
  margin-right: 3.6cm;
}
[data-margin-top="3.6"] {
  margin-top: 3.6cm;
}
[data-margin-bottom="3.6"] {
  margin-bottom: 3.6cm;
}
[data-first-line-indent="3.6"] {
  text-indent: 3.6cm;
}
[data-margin-left="3.7"] {
  margin-left: 3.7cm;
}
[data-margin-right="3.7"] {
  margin-right: 3.7cm;
}
[data-margin-top="3.7"] {
  margin-top: 3.7cm;
}
[data-margin-bottom="3.7"] {
  margin-bottom: 3.7cm;
}
[data-first-line-indent="3.7"] {
  text-indent: 3.7cm;
}
[data-margin-left="3.8"] {
  margin-left: 3.8cm;
}
[data-margin-right="3.8"] {
  margin-right: 3.8cm;
}
[data-margin-top="3.8"] {
  margin-top: 3.8cm;
}
[data-margin-bottom="3.8"] {
  margin-bottom: 3.8cm;
}
[data-first-line-indent="3.8"] {
  text-indent: 3.8cm;
}
[data-margin-left="3.9"] {
  margin-left: 3.9cm;
}
[data-margin-right="3.9"] {
  margin-right: 3.9cm;
}
[data-margin-top="3.9"] {
  margin-top: 3.9cm;
}
[data-margin-bottom="3.9"] {
  margin-bottom: 3.9cm;
}
[data-first-line-indent="3.9"] {
  text-indent: 3.9cm;
}
[data-margin-left="4"] {
  margin-left: 4cm;
}
[data-margin-right="4"] {
  margin-right: 4cm;
}
[data-margin-top="4"] {
  margin-top: 4cm;
}
[data-margin-bottom="4"] {
  margin-bottom: 4cm;
}
[data-first-line-indent="4"] {
  text-indent: 4cm;
}
[data-margin-left="4.1"] {
  margin-left: 4.1cm;
}
[data-margin-right="4.1"] {
  margin-right: 4.1cm;
}
[data-margin-top="4.1"] {
  margin-top: 4.1cm;
}
[data-margin-bottom="4.1"] {
  margin-bottom: 4.1cm;
}
[data-first-line-indent="4.1"] {
  text-indent: 4.1cm;
}
[data-margin-left="4.2"] {
  margin-left: 4.2cm;
}
[data-margin-right="4.2"] {
  margin-right: 4.2cm;
}
[data-margin-top="4.2"] {
  margin-top: 4.2cm;
}
[data-margin-bottom="4.2"] {
  margin-bottom: 4.2cm;
}
[data-first-line-indent="4.2"] {
  text-indent: 4.2cm;
}
[data-margin-left="4.3"] {
  margin-left: 4.3cm;
}
[data-margin-right="4.3"] {
  margin-right: 4.3cm;
}
[data-margin-top="4.3"] {
  margin-top: 4.3cm;
}
[data-margin-bottom="4.3"] {
  margin-bottom: 4.3cm;
}
[data-first-line-indent="4.3"] {
  text-indent: 4.3cm;
}
[data-margin-left="4.4"] {
  margin-left: 4.4cm;
}
[data-margin-right="4.4"] {
  margin-right: 4.4cm;
}
[data-margin-top="4.4"] {
  margin-top: 4.4cm;
}
[data-margin-bottom="4.4"] {
  margin-bottom: 4.4cm;
}
[data-first-line-indent="4.4"] {
  text-indent: 4.4cm;
}
[data-margin-left="4.5"] {
  margin-left: 4.5cm;
}
[data-margin-right="4.5"] {
  margin-right: 4.5cm;
}
[data-margin-top="4.5"] {
  margin-top: 4.5cm;
}
[data-margin-bottom="4.5"] {
  margin-bottom: 4.5cm;
}
[data-first-line-indent="4.5"] {
  text-indent: 4.5cm;
}
[data-margin-left="4.6"] {
  margin-left: 4.6cm;
}
[data-margin-right="4.6"] {
  margin-right: 4.6cm;
}
[data-margin-top="4.6"] {
  margin-top: 4.6cm;
}
[data-margin-bottom="4.6"] {
  margin-bottom: 4.6cm;
}
[data-first-line-indent="4.6"] {
  text-indent: 4.6cm;
}
[data-margin-left="4.7"] {
  margin-left: 4.7cm;
}
[data-margin-right="4.7"] {
  margin-right: 4.7cm;
}
[data-margin-top="4.7"] {
  margin-top: 4.7cm;
}
[data-margin-bottom="4.7"] {
  margin-bottom: 4.7cm;
}
[data-first-line-indent="4.7"] {
  text-indent: 4.7cm;
}
[data-margin-left="4.8"] {
  margin-left: 4.8cm;
}
[data-margin-right="4.8"] {
  margin-right: 4.8cm;
}
[data-margin-top="4.8"] {
  margin-top: 4.8cm;
}
[data-margin-bottom="4.8"] {
  margin-bottom: 4.8cm;
}
[data-first-line-indent="4.8"] {
  text-indent: 4.8cm;
}
[data-margin-left="4.9"] {
  margin-left: 4.9cm;
}
[data-margin-right="4.9"] {
  margin-right: 4.9cm;
}
[data-margin-top="4.9"] {
  margin-top: 4.9cm;
}
[data-margin-bottom="4.9"] {
  margin-bottom: 4.9cm;
}
[data-first-line-indent="4.9"] {
  text-indent: 4.9cm;
}
[data-margin-left="5"] {
  margin-left: 5cm;
}
[data-margin-right="5"] {
  margin-right: 5cm;
}
[data-margin-top="5"] {
  margin-top: 5cm;
}
[data-margin-bottom="5"] {
  margin-bottom: 5cm;
}
[data-first-line-indent="5"] {
  text-indent: 5cm;
}
[data-margin-left="5.1"] {
  margin-left: 5.1cm;
}
[data-margin-right="5.1"] {
  margin-right: 5.1cm;
}
[data-margin-top="5.1"] {
  margin-top: 5.1cm;
}
[data-margin-bottom="5.1"] {
  margin-bottom: 5.1cm;
}
[data-first-line-indent="5.1"] {
  text-indent: 5.1cm;
}
[data-margin-left="5.2"] {
  margin-left: 5.2cm;
}
[data-margin-right="5.2"] {
  margin-right: 5.2cm;
}
[data-margin-top="5.2"] {
  margin-top: 5.2cm;
}
[data-margin-bottom="5.2"] {
  margin-bottom: 5.2cm;
}
[data-first-line-indent="5.2"] {
  text-indent: 5.2cm;
}
[data-margin-left="5.3"] {
  margin-left: 5.3cm;
}
[data-margin-right="5.3"] {
  margin-right: 5.3cm;
}
[data-margin-top="5.3"] {
  margin-top: 5.3cm;
}
[data-margin-bottom="5.3"] {
  margin-bottom: 5.3cm;
}
[data-first-line-indent="5.3"] {
  text-indent: 5.3cm;
}
[data-margin-left="5.4"] {
  margin-left: 5.4cm;
}
[data-margin-right="5.4"] {
  margin-right: 5.4cm;
}
[data-margin-top="5.4"] {
  margin-top: 5.4cm;
}
[data-margin-bottom="5.4"] {
  margin-bottom: 5.4cm;
}
[data-first-line-indent="5.4"] {
  text-indent: 5.4cm;
}
[data-margin-left="5.5"] {
  margin-left: 5.5cm;
}
[data-margin-right="5.5"] {
  margin-right: 5.5cm;
}
[data-margin-top="5.5"] {
  margin-top: 5.5cm;
}
[data-margin-bottom="5.5"] {
  margin-bottom: 5.5cm;
}
[data-first-line-indent="5.5"] {
  text-indent: 5.5cm;
}
[data-margin-left="5.6"] {
  margin-left: 5.6cm;
}
[data-margin-right="5.6"] {
  margin-right: 5.6cm;
}
[data-margin-top="5.6"] {
  margin-top: 5.6cm;
}
[data-margin-bottom="5.6"] {
  margin-bottom: 5.6cm;
}
[data-first-line-indent="5.6"] {
  text-indent: 5.6cm;
}
[data-margin-left="5.7"] {
  margin-left: 5.7cm;
}
[data-margin-right="5.7"] {
  margin-right: 5.7cm;
}
[data-margin-top="5.7"] {
  margin-top: 5.7cm;
}
[data-margin-bottom="5.7"] {
  margin-bottom: 5.7cm;
}
[data-first-line-indent="5.7"] {
  text-indent: 5.7cm;
}
[data-margin-left="5.8"] {
  margin-left: 5.8cm;
}
[data-margin-right="5.8"] {
  margin-right: 5.8cm;
}
[data-margin-top="5.8"] {
  margin-top: 5.8cm;
}
[data-margin-bottom="5.8"] {
  margin-bottom: 5.8cm;
}
[data-first-line-indent="5.8"] {
  text-indent: 5.8cm;
}
[data-margin-left="5.9"] {
  margin-left: 5.9cm;
}
[data-margin-right="5.9"] {
  margin-right: 5.9cm;
}
[data-margin-top="5.9"] {
  margin-top: 5.9cm;
}
[data-margin-bottom="5.9"] {
  margin-bottom: 5.9cm;
}
[data-first-line-indent="5.9"] {
  text-indent: 5.9cm;
}
[data-margin-left="6"] {
  margin-left: 6cm;
}
[data-margin-right="6"] {
  margin-right: 6cm;
}
[data-margin-top="6"] {
  margin-top: 6cm;
}
[data-margin-bottom="6"] {
  margin-bottom: 6cm;
}
[data-first-line-indent="6"] {
  text-indent: 6cm;
}
[data-margin-left="6.1"] {
  margin-left: 6.1cm;
}
[data-margin-right="6.1"] {
  margin-right: 6.1cm;
}
[data-margin-top="6.1"] {
  margin-top: 6.1cm;
}
[data-margin-bottom="6.1"] {
  margin-bottom: 6.1cm;
}
[data-first-line-indent="6.1"] {
  text-indent: 6.1cm;
}
[data-margin-left="6.2"] {
  margin-left: 6.2cm;
}
[data-margin-right="6.2"] {
  margin-right: 6.2cm;
}
[data-margin-top="6.2"] {
  margin-top: 6.2cm;
}
[data-margin-bottom="6.2"] {
  margin-bottom: 6.2cm;
}
[data-first-line-indent="6.2"] {
  text-indent: 6.2cm;
}
[data-margin-left="6.3"] {
  margin-left: 6.3cm;
}
[data-margin-right="6.3"] {
  margin-right: 6.3cm;
}
[data-margin-top="6.3"] {
  margin-top: 6.3cm;
}
[data-margin-bottom="6.3"] {
  margin-bottom: 6.3cm;
}
[data-first-line-indent="6.3"] {
  text-indent: 6.3cm;
}
[data-margin-left="6.4"] {
  margin-left: 6.4cm;
}
[data-margin-right="6.4"] {
  margin-right: 6.4cm;
}
[data-margin-top="6.4"] {
  margin-top: 6.4cm;
}
[data-margin-bottom="6.4"] {
  margin-bottom: 6.4cm;
}
[data-first-line-indent="6.4"] {
  text-indent: 6.4cm;
}
[data-margin-left="6.5"] {
  margin-left: 6.5cm;
}
[data-margin-right="6.5"] {
  margin-right: 6.5cm;
}
[data-margin-top="6.5"] {
  margin-top: 6.5cm;
}
[data-margin-bottom="6.5"] {
  margin-bottom: 6.5cm;
}
[data-first-line-indent="6.5"] {
  text-indent: 6.5cm;
}
[data-margin-left="6.6"] {
  margin-left: 6.6cm;
}
[data-margin-right="6.6"] {
  margin-right: 6.6cm;
}
[data-margin-top="6.6"] {
  margin-top: 6.6cm;
}
[data-margin-bottom="6.6"] {
  margin-bottom: 6.6cm;
}
[data-first-line-indent="6.6"] {
  text-indent: 6.6cm;
}
[data-margin-left="6.7"] {
  margin-left: 6.7cm;
}
[data-margin-right="6.7"] {
  margin-right: 6.7cm;
}
[data-margin-top="6.7"] {
  margin-top: 6.7cm;
}
[data-margin-bottom="6.7"] {
  margin-bottom: 6.7cm;
}
[data-first-line-indent="6.7"] {
  text-indent: 6.7cm;
}
[data-margin-left="6.8"] {
  margin-left: 6.8cm;
}
[data-margin-right="6.8"] {
  margin-right: 6.8cm;
}
[data-margin-top="6.8"] {
  margin-top: 6.8cm;
}
[data-margin-bottom="6.8"] {
  margin-bottom: 6.8cm;
}
[data-first-line-indent="6.8"] {
  text-indent: 6.8cm;
}
[data-margin-left="6.9"] {
  margin-left: 6.9cm;
}
[data-margin-right="6.9"] {
  margin-right: 6.9cm;
}
[data-margin-top="6.9"] {
  margin-top: 6.9cm;
}
[data-margin-bottom="6.9"] {
  margin-bottom: 6.9cm;
}
[data-first-line-indent="6.9"] {
  text-indent: 6.9cm;
}
[data-margin-left="7"] {
  margin-left: 7cm;
}
[data-margin-right="7"] {
  margin-right: 7cm;
}
[data-margin-top="7"] {
  margin-top: 7cm;
}
[data-margin-bottom="7"] {
  margin-bottom: 7cm;
}
[data-first-line-indent="7"] {
  text-indent: 7cm;
}
[data-margin-left="7.1"] {
  margin-left: 7.1cm;
}
[data-margin-right="7.1"] {
  margin-right: 7.1cm;
}
[data-margin-top="7.1"] {
  margin-top: 7.1cm;
}
[data-margin-bottom="7.1"] {
  margin-bottom: 7.1cm;
}
[data-first-line-indent="7.1"] {
  text-indent: 7.1cm;
}
[data-margin-left="7.2"] {
  margin-left: 7.2cm;
}
[data-margin-right="7.2"] {
  margin-right: 7.2cm;
}
[data-margin-top="7.2"] {
  margin-top: 7.2cm;
}
[data-margin-bottom="7.2"] {
  margin-bottom: 7.2cm;
}
[data-first-line-indent="7.2"] {
  text-indent: 7.2cm;
}
[data-margin-left="7.3"] {
  margin-left: 7.3cm;
}
[data-margin-right="7.3"] {
  margin-right: 7.3cm;
}
[data-margin-top="7.3"] {
  margin-top: 7.3cm;
}
[data-margin-bottom="7.3"] {
  margin-bottom: 7.3cm;
}
[data-first-line-indent="7.3"] {
  text-indent: 7.3cm;
}
[data-margin-left="7.4"] {
  margin-left: 7.4cm;
}
[data-margin-right="7.4"] {
  margin-right: 7.4cm;
}
[data-margin-top="7.4"] {
  margin-top: 7.4cm;
}
[data-margin-bottom="7.4"] {
  margin-bottom: 7.4cm;
}
[data-first-line-indent="7.4"] {
  text-indent: 7.4cm;
}
[data-margin-left="7.5"] {
  margin-left: 7.5cm;
}
[data-margin-right="7.5"] {
  margin-right: 7.5cm;
}
[data-margin-top="7.5"] {
  margin-top: 7.5cm;
}
[data-margin-bottom="7.5"] {
  margin-bottom: 7.5cm;
}
[data-first-line-indent="7.5"] {
  text-indent: 7.5cm;
}
[data-margin-left="7.6"] {
  margin-left: 7.6cm;
}
[data-margin-right="7.6"] {
  margin-right: 7.6cm;
}
[data-margin-top="7.6"] {
  margin-top: 7.6cm;
}
[data-margin-bottom="7.6"] {
  margin-bottom: 7.6cm;
}
[data-first-line-indent="7.6"] {
  text-indent: 7.6cm;
}
[data-margin-left="7.7"] {
  margin-left: 7.7cm;
}
[data-margin-right="7.7"] {
  margin-right: 7.7cm;
}
[data-margin-top="7.7"] {
  margin-top: 7.7cm;
}
[data-margin-bottom="7.7"] {
  margin-bottom: 7.7cm;
}
[data-first-line-indent="7.7"] {
  text-indent: 7.7cm;
}
[data-margin-left="7.8"] {
  margin-left: 7.8cm;
}
[data-margin-right="7.8"] {
  margin-right: 7.8cm;
}
[data-margin-top="7.8"] {
  margin-top: 7.8cm;
}
[data-margin-bottom="7.8"] {
  margin-bottom: 7.8cm;
}
[data-first-line-indent="7.8"] {
  text-indent: 7.8cm;
}
[data-margin-left="7.9"] {
  margin-left: 7.9cm;
}
[data-margin-right="7.9"] {
  margin-right: 7.9cm;
}
[data-margin-top="7.9"] {
  margin-top: 7.9cm;
}
[data-margin-bottom="7.9"] {
  margin-bottom: 7.9cm;
}
[data-first-line-indent="7.9"] {
  text-indent: 7.9cm;
}
[data-margin-left="8"] {
  margin-left: 8cm;
}
[data-margin-right="8"] {
  margin-right: 8cm;
}
[data-margin-top="8"] {
  margin-top: 8cm;
}
[data-margin-bottom="8"] {
  margin-bottom: 8cm;
}
[data-first-line-indent="8"] {
  text-indent: 8cm;
}
[data-margin-left="8.1"] {
  margin-left: 8.1cm;
}
[data-margin-right="8.1"] {
  margin-right: 8.1cm;
}
[data-margin-top="8.1"] {
  margin-top: 8.1cm;
}
[data-margin-bottom="8.1"] {
  margin-bottom: 8.1cm;
}
[data-first-line-indent="8.1"] {
  text-indent: 8.1cm;
}
[data-margin-left="8.2"] {
  margin-left: 8.2cm;
}
[data-margin-right="8.2"] {
  margin-right: 8.2cm;
}
[data-margin-top="8.2"] {
  margin-top: 8.2cm;
}
[data-margin-bottom="8.2"] {
  margin-bottom: 8.2cm;
}
[data-first-line-indent="8.2"] {
  text-indent: 8.2cm;
}
[data-margin-left="8.3"] {
  margin-left: 8.3cm;
}
[data-margin-right="8.3"] {
  margin-right: 8.3cm;
}
[data-margin-top="8.3"] {
  margin-top: 8.3cm;
}
[data-margin-bottom="8.3"] {
  margin-bottom: 8.3cm;
}
[data-first-line-indent="8.3"] {
  text-indent: 8.3cm;
}
[data-margin-left="8.4"] {
  margin-left: 8.4cm;
}
[data-margin-right="8.4"] {
  margin-right: 8.4cm;
}
[data-margin-top="8.4"] {
  margin-top: 8.4cm;
}
[data-margin-bottom="8.4"] {
  margin-bottom: 8.4cm;
}
[data-first-line-indent="8.4"] {
  text-indent: 8.4cm;
}
[data-margin-left="8.5"] {
  margin-left: 8.5cm;
}
[data-margin-right="8.5"] {
  margin-right: 8.5cm;
}
[data-margin-top="8.5"] {
  margin-top: 8.5cm;
}
[data-margin-bottom="8.5"] {
  margin-bottom: 8.5cm;
}
[data-first-line-indent="8.5"] {
  text-indent: 8.5cm;
}
[data-margin-left="8.6"] {
  margin-left: 8.6cm;
}
[data-margin-right="8.6"] {
  margin-right: 8.6cm;
}
[data-margin-top="8.6"] {
  margin-top: 8.6cm;
}
[data-margin-bottom="8.6"] {
  margin-bottom: 8.6cm;
}
[data-first-line-indent="8.6"] {
  text-indent: 8.6cm;
}
[data-margin-left="8.7"] {
  margin-left: 8.7cm;
}
[data-margin-right="8.7"] {
  margin-right: 8.7cm;
}
[data-margin-top="8.7"] {
  margin-top: 8.7cm;
}
[data-margin-bottom="8.7"] {
  margin-bottom: 8.7cm;
}
[data-first-line-indent="8.7"] {
  text-indent: 8.7cm;
}
[data-margin-left="8.8"] {
  margin-left: 8.8cm;
}
[data-margin-right="8.8"] {
  margin-right: 8.8cm;
}
[data-margin-top="8.8"] {
  margin-top: 8.8cm;
}
[data-margin-bottom="8.8"] {
  margin-bottom: 8.8cm;
}
[data-first-line-indent="8.8"] {
  text-indent: 8.8cm;
}
[data-margin-left="8.9"] {
  margin-left: 8.9cm;
}
[data-margin-right="8.9"] {
  margin-right: 8.9cm;
}
[data-margin-top="8.9"] {
  margin-top: 8.9cm;
}
[data-margin-bottom="8.9"] {
  margin-bottom: 8.9cm;
}
[data-first-line-indent="8.9"] {
  text-indent: 8.9cm;
}
[data-margin-left="9"] {
  margin-left: 9cm;
}
[data-margin-right="9"] {
  margin-right: 9cm;
}
[data-margin-top="9"] {
  margin-top: 9cm;
}
[data-margin-bottom="9"] {
  margin-bottom: 9cm;
}
[data-first-line-indent="9"] {
  text-indent: 9cm;
}
[data-margin-left="9.1"] {
  margin-left: 9.1cm;
}
[data-margin-right="9.1"] {
  margin-right: 9.1cm;
}
[data-margin-top="9.1"] {
  margin-top: 9.1cm;
}
[data-margin-bottom="9.1"] {
  margin-bottom: 9.1cm;
}
[data-first-line-indent="9.1"] {
  text-indent: 9.1cm;
}
[data-margin-left="9.2"] {
  margin-left: 9.2cm;
}
[data-margin-right="9.2"] {
  margin-right: 9.2cm;
}
[data-margin-top="9.2"] {
  margin-top: 9.2cm;
}
[data-margin-bottom="9.2"] {
  margin-bottom: 9.2cm;
}
[data-first-line-indent="9.2"] {
  text-indent: 9.2cm;
}
[data-margin-left="9.3"] {
  margin-left: 9.3cm;
}
[data-margin-right="9.3"] {
  margin-right: 9.3cm;
}
[data-margin-top="9.3"] {
  margin-top: 9.3cm;
}
[data-margin-bottom="9.3"] {
  margin-bottom: 9.3cm;
}
[data-first-line-indent="9.3"] {
  text-indent: 9.3cm;
}
[data-margin-left="9.4"] {
  margin-left: 9.4cm;
}
[data-margin-right="9.4"] {
  margin-right: 9.4cm;
}
[data-margin-top="9.4"] {
  margin-top: 9.4cm;
}
[data-margin-bottom="9.4"] {
  margin-bottom: 9.4cm;
}
[data-first-line-indent="9.4"] {
  text-indent: 9.4cm;
}
[data-margin-left="9.5"] {
  margin-left: 9.5cm;
}
[data-margin-right="9.5"] {
  margin-right: 9.5cm;
}
[data-margin-top="9.5"] {
  margin-top: 9.5cm;
}
[data-margin-bottom="9.5"] {
  margin-bottom: 9.5cm;
}
[data-first-line-indent="9.5"] {
  text-indent: 9.5cm;
}
[data-margin-left="9.6"] {
  margin-left: 9.6cm;
}
[data-margin-right="9.6"] {
  margin-right: 9.6cm;
}
[data-margin-top="9.6"] {
  margin-top: 9.6cm;
}
[data-margin-bottom="9.6"] {
  margin-bottom: 9.6cm;
}
[data-first-line-indent="9.6"] {
  text-indent: 9.6cm;
}
[data-margin-left="9.7"] {
  margin-left: 9.7cm;
}
[data-margin-right="9.7"] {
  margin-right: 9.7cm;
}
[data-margin-top="9.7"] {
  margin-top: 9.7cm;
}
[data-margin-bottom="9.7"] {
  margin-bottom: 9.7cm;
}
[data-first-line-indent="9.7"] {
  text-indent: 9.7cm;
}
[data-margin-left="9.8"] {
  margin-left: 9.8cm;
}
[data-margin-right="9.8"] {
  margin-right: 9.8cm;
}
[data-margin-top="9.8"] {
  margin-top: 9.8cm;
}
[data-margin-bottom="9.8"] {
  margin-bottom: 9.8cm;
}
[data-first-line-indent="9.8"] {
  text-indent: 9.8cm;
}
[data-margin-left="9.9"] {
  margin-left: 9.9cm;
}
[data-margin-right="9.9"] {
  margin-right: 9.9cm;
}
[data-margin-top="9.9"] {
  margin-top: 9.9cm;
}
[data-margin-bottom="9.9"] {
  margin-bottom: 9.9cm;
}
[data-first-line-indent="9.9"] {
  text-indent: 9.9cm;
}
[data-margin-left="10"] {
  margin-left: 10cm;
}
[data-margin-right="10"] {
  margin-right: 10cm;
}
[data-margin-top="10"] {
  margin-top: 10cm;
}
[data-margin-bottom="10"] {
  margin-bottom: 10cm;
}
[data-first-line-indent="10"] {
  text-indent: 10cm;
}
[data-margin-left="10.1"] {
  margin-left: 10.1cm;
}
[data-margin-right="10.1"] {
  margin-right: 10.1cm;
}
[data-margin-top="10.1"] {
  margin-top: 10.1cm;
}
[data-margin-bottom="10.1"] {
  margin-bottom: 10.1cm;
}
[data-first-line-indent="10.1"] {
  text-indent: 10.1cm;
}
[data-margin-left="10.2"] {
  margin-left: 10.2cm;
}
[data-margin-right="10.2"] {
  margin-right: 10.2cm;
}
[data-margin-top="10.2"] {
  margin-top: 10.2cm;
}
[data-margin-bottom="10.2"] {
  margin-bottom: 10.2cm;
}
[data-first-line-indent="10.2"] {
  text-indent: 10.2cm;
}
[data-margin-left="10.3"] {
  margin-left: 10.3cm;
}
[data-margin-right="10.3"] {
  margin-right: 10.3cm;
}
[data-margin-top="10.3"] {
  margin-top: 10.3cm;
}
[data-margin-bottom="10.3"] {
  margin-bottom: 10.3cm;
}
[data-first-line-indent="10.3"] {
  text-indent: 10.3cm;
}
[data-margin-left="10.4"] {
  margin-left: 10.4cm;
}
[data-margin-right="10.4"] {
  margin-right: 10.4cm;
}
[data-margin-top="10.4"] {
  margin-top: 10.4cm;
}
[data-margin-bottom="10.4"] {
  margin-bottom: 10.4cm;
}
[data-first-line-indent="10.4"] {
  text-indent: 10.4cm;
}
[data-margin-left="10.5"] {
  margin-left: 10.5cm;
}
[data-margin-right="10.5"] {
  margin-right: 10.5cm;
}
[data-margin-top="10.5"] {
  margin-top: 10.5cm;
}
[data-margin-bottom="10.5"] {
  margin-bottom: 10.5cm;
}
[data-first-line-indent="10.5"] {
  text-indent: 10.5cm;
}
[data-margin-left="10.6"] {
  margin-left: 10.6cm;
}
[data-margin-right="10.6"] {
  margin-right: 10.6cm;
}
[data-margin-top="10.6"] {
  margin-top: 10.6cm;
}
[data-margin-bottom="10.6"] {
  margin-bottom: 10.6cm;
}
[data-first-line-indent="10.6"] {
  text-indent: 10.6cm;
}
[data-margin-left="10.7"] {
  margin-left: 10.7cm;
}
[data-margin-right="10.7"] {
  margin-right: 10.7cm;
}
[data-margin-top="10.7"] {
  margin-top: 10.7cm;
}
[data-margin-bottom="10.7"] {
  margin-bottom: 10.7cm;
}
[data-first-line-indent="10.7"] {
  text-indent: 10.7cm;
}
[data-margin-left="10.8"] {
  margin-left: 10.8cm;
}
[data-margin-right="10.8"] {
  margin-right: 10.8cm;
}
[data-margin-top="10.8"] {
  margin-top: 10.8cm;
}
[data-margin-bottom="10.8"] {
  margin-bottom: 10.8cm;
}
[data-first-line-indent="10.8"] {
  text-indent: 10.8cm;
}
[data-margin-left="10.9"] {
  margin-left: 10.9cm;
}
[data-margin-right="10.9"] {
  margin-right: 10.9cm;
}
[data-margin-top="10.9"] {
  margin-top: 10.9cm;
}
[data-margin-bottom="10.9"] {
  margin-bottom: 10.9cm;
}
[data-first-line-indent="10.9"] {
  text-indent: 10.9cm;
}
[data-margin-left="11"] {
  margin-left: 11cm;
}
[data-margin-right="11"] {
  margin-right: 11cm;
}
[data-margin-top="11"] {
  margin-top: 11cm;
}
[data-margin-bottom="11"] {
  margin-bottom: 11cm;
}
[data-first-line-indent="11"] {
  text-indent: 11cm;
}
[data-margin-left="11.1"] {
  margin-left: 11.1cm;
}
[data-margin-right="11.1"] {
  margin-right: 11.1cm;
}
[data-margin-top="11.1"] {
  margin-top: 11.1cm;
}
[data-margin-bottom="11.1"] {
  margin-bottom: 11.1cm;
}
[data-first-line-indent="11.1"] {
  text-indent: 11.1cm;
}
[data-margin-left="11.2"] {
  margin-left: 11.2cm;
}
[data-margin-right="11.2"] {
  margin-right: 11.2cm;
}
[data-margin-top="11.2"] {
  margin-top: 11.2cm;
}
[data-margin-bottom="11.2"] {
  margin-bottom: 11.2cm;
}
[data-first-line-indent="11.2"] {
  text-indent: 11.2cm;
}
[data-margin-left="11.3"] {
  margin-left: 11.3cm;
}
[data-margin-right="11.3"] {
  margin-right: 11.3cm;
}
[data-margin-top="11.3"] {
  margin-top: 11.3cm;
}
[data-margin-bottom="11.3"] {
  margin-bottom: 11.3cm;
}
[data-first-line-indent="11.3"] {
  text-indent: 11.3cm;
}
[data-margin-left="11.4"] {
  margin-left: 11.4cm;
}
[data-margin-right="11.4"] {
  margin-right: 11.4cm;
}
[data-margin-top="11.4"] {
  margin-top: 11.4cm;
}
[data-margin-bottom="11.4"] {
  margin-bottom: 11.4cm;
}
[data-first-line-indent="11.4"] {
  text-indent: 11.4cm;
}
[data-margin-left="11.5"] {
  margin-left: 11.5cm;
}
[data-margin-right="11.5"] {
  margin-right: 11.5cm;
}
[data-margin-top="11.5"] {
  margin-top: 11.5cm;
}
[data-margin-bottom="11.5"] {
  margin-bottom: 11.5cm;
}
[data-first-line-indent="11.5"] {
  text-indent: 11.5cm;
}
[data-margin-left="11.6"] {
  margin-left: 11.6cm;
}
[data-margin-right="11.6"] {
  margin-right: 11.6cm;
}
[data-margin-top="11.6"] {
  margin-top: 11.6cm;
}
[data-margin-bottom="11.6"] {
  margin-bottom: 11.6cm;
}
[data-first-line-indent="11.6"] {
  text-indent: 11.6cm;
}
[data-margin-left="11.7"] {
  margin-left: 11.7cm;
}
[data-margin-right="11.7"] {
  margin-right: 11.7cm;
}
[data-margin-top="11.7"] {
  margin-top: 11.7cm;
}
[data-margin-bottom="11.7"] {
  margin-bottom: 11.7cm;
}
[data-first-line-indent="11.7"] {
  text-indent: 11.7cm;
}
[data-margin-left="11.8"] {
  margin-left: 11.8cm;
}
[data-margin-right="11.8"] {
  margin-right: 11.8cm;
}
[data-margin-top="11.8"] {
  margin-top: 11.8cm;
}
[data-margin-bottom="11.8"] {
  margin-bottom: 11.8cm;
}
[data-first-line-indent="11.8"] {
  text-indent: 11.8cm;
}
[data-margin-left="11.9"] {
  margin-left: 11.9cm;
}
[data-margin-right="11.9"] {
  margin-right: 11.9cm;
}
[data-margin-top="11.9"] {
  margin-top: 11.9cm;
}
[data-margin-bottom="11.9"] {
  margin-bottom: 11.9cm;
}
[data-first-line-indent="11.9"] {
  text-indent: 11.9cm;
}
[data-margin-left="12"] {
  margin-left: 12cm;
}
[data-margin-right="12"] {
  margin-right: 12cm;
}
[data-margin-top="12"] {
  margin-top: 12cm;
}
[data-margin-bottom="12"] {
  margin-bottom: 12cm;
}
[data-first-line-indent="12"] {
  text-indent: 12cm;
}
[data-margin-left="12.1"] {
  margin-left: 12.1cm;
}
[data-margin-right="12.1"] {
  margin-right: 12.1cm;
}
[data-margin-top="12.1"] {
  margin-top: 12.1cm;
}
[data-margin-bottom="12.1"] {
  margin-bottom: 12.1cm;
}
[data-first-line-indent="12.1"] {
  text-indent: 12.1cm;
}
[data-margin-left="12.2"] {
  margin-left: 12.2cm;
}
[data-margin-right="12.2"] {
  margin-right: 12.2cm;
}
[data-margin-top="12.2"] {
  margin-top: 12.2cm;
}
[data-margin-bottom="12.2"] {
  margin-bottom: 12.2cm;
}
[data-first-line-indent="12.2"] {
  text-indent: 12.2cm;
}
[data-margin-left="12.3"] {
  margin-left: 12.3cm;
}
[data-margin-right="12.3"] {
  margin-right: 12.3cm;
}
[data-margin-top="12.3"] {
  margin-top: 12.3cm;
}
[data-margin-bottom="12.3"] {
  margin-bottom: 12.3cm;
}
[data-first-line-indent="12.3"] {
  text-indent: 12.3cm;
}
[data-margin-left="12.4"] {
  margin-left: 12.4cm;
}
[data-margin-right="12.4"] {
  margin-right: 12.4cm;
}
[data-margin-top="12.4"] {
  margin-top: 12.4cm;
}
[data-margin-bottom="12.4"] {
  margin-bottom: 12.4cm;
}
[data-first-line-indent="12.4"] {
  text-indent: 12.4cm;
}
[data-margin-left="12.5"] {
  margin-left: 12.5cm;
}
[data-margin-right="12.5"] {
  margin-right: 12.5cm;
}
[data-margin-top="12.5"] {
  margin-top: 12.5cm;
}
[data-margin-bottom="12.5"] {
  margin-bottom: 12.5cm;
}
[data-first-line-indent="12.5"] {
  text-indent: 12.5cm;
}
[data-margin-left="12.6"] {
  margin-left: 12.6cm;
}
[data-margin-right="12.6"] {
  margin-right: 12.6cm;
}
[data-margin-top="12.6"] {
  margin-top: 12.6cm;
}
[data-margin-bottom="12.6"] {
  margin-bottom: 12.6cm;
}
[data-first-line-indent="12.6"] {
  text-indent: 12.6cm;
}
[data-margin-left="12.7"] {
  margin-left: 12.7cm;
}
[data-margin-right="12.7"] {
  margin-right: 12.7cm;
}
[data-margin-top="12.7"] {
  margin-top: 12.7cm;
}
[data-margin-bottom="12.7"] {
  margin-bottom: 12.7cm;
}
[data-first-line-indent="12.7"] {
  text-indent: 12.7cm;
}
[data-margin-left="12.8"] {
  margin-left: 12.8cm;
}
[data-margin-right="12.8"] {
  margin-right: 12.8cm;
}
[data-margin-top="12.8"] {
  margin-top: 12.8cm;
}
[data-margin-bottom="12.8"] {
  margin-bottom: 12.8cm;
}
[data-first-line-indent="12.8"] {
  text-indent: 12.8cm;
}
[data-margin-left="12.9"] {
  margin-left: 12.9cm;
}
[data-margin-right="12.9"] {
  margin-right: 12.9cm;
}
[data-margin-top="12.9"] {
  margin-top: 12.9cm;
}
[data-margin-bottom="12.9"] {
  margin-bottom: 12.9cm;
}
[data-first-line-indent="12.9"] {
  text-indent: 12.9cm;
}
[data-margin-left="13"] {
  margin-left: 13cm;
}
[data-margin-right="13"] {
  margin-right: 13cm;
}
[data-margin-top="13"] {
  margin-top: 13cm;
}
[data-margin-bottom="13"] {
  margin-bottom: 13cm;
}
[data-first-line-indent="13"] {
  text-indent: 13cm;
}
[data-margin-left="13.1"] {
  margin-left: 13.1cm;
}
[data-margin-right="13.1"] {
  margin-right: 13.1cm;
}
[data-margin-top="13.1"] {
  margin-top: 13.1cm;
}
[data-margin-bottom="13.1"] {
  margin-bottom: 13.1cm;
}
[data-first-line-indent="13.1"] {
  text-indent: 13.1cm;
}
[data-margin-left="13.2"] {
  margin-left: 13.2cm;
}
[data-margin-right="13.2"] {
  margin-right: 13.2cm;
}
[data-margin-top="13.2"] {
  margin-top: 13.2cm;
}
[data-margin-bottom="13.2"] {
  margin-bottom: 13.2cm;
}
[data-first-line-indent="13.2"] {
  text-indent: 13.2cm;
}
[data-margin-left="13.3"] {
  margin-left: 13.3cm;
}
[data-margin-right="13.3"] {
  margin-right: 13.3cm;
}
[data-margin-top="13.3"] {
  margin-top: 13.3cm;
}
[data-margin-bottom="13.3"] {
  margin-bottom: 13.3cm;
}
[data-first-line-indent="13.3"] {
  text-indent: 13.3cm;
}
[data-margin-left="13.4"] {
  margin-left: 13.4cm;
}
[data-margin-right="13.4"] {
  margin-right: 13.4cm;
}
[data-margin-top="13.4"] {
  margin-top: 13.4cm;
}
[data-margin-bottom="13.4"] {
  margin-bottom: 13.4cm;
}
[data-first-line-indent="13.4"] {
  text-indent: 13.4cm;
}
[data-margin-left="13.5"] {
  margin-left: 13.5cm;
}
[data-margin-right="13.5"] {
  margin-right: 13.5cm;
}
[data-margin-top="13.5"] {
  margin-top: 13.5cm;
}
[data-margin-bottom="13.5"] {
  margin-bottom: 13.5cm;
}
[data-first-line-indent="13.5"] {
  text-indent: 13.5cm;
}
[data-margin-left="13.6"] {
  margin-left: 13.6cm;
}
[data-margin-right="13.6"] {
  margin-right: 13.6cm;
}
[data-margin-top="13.6"] {
  margin-top: 13.6cm;
}
[data-margin-bottom="13.6"] {
  margin-bottom: 13.6cm;
}
[data-first-line-indent="13.6"] {
  text-indent: 13.6cm;
}
[data-margin-left="13.7"] {
  margin-left: 13.7cm;
}
[data-margin-right="13.7"] {
  margin-right: 13.7cm;
}
[data-margin-top="13.7"] {
  margin-top: 13.7cm;
}
[data-margin-bottom="13.7"] {
  margin-bottom: 13.7cm;
}
[data-first-line-indent="13.7"] {
  text-indent: 13.7cm;
}
[data-margin-left="13.8"] {
  margin-left: 13.8cm;
}
[data-margin-right="13.8"] {
  margin-right: 13.8cm;
}
[data-margin-top="13.8"] {
  margin-top: 13.8cm;
}
[data-margin-bottom="13.8"] {
  margin-bottom: 13.8cm;
}
[data-first-line-indent="13.8"] {
  text-indent: 13.8cm;
}
[data-margin-left="13.9"] {
  margin-left: 13.9cm;
}
[data-margin-right="13.9"] {
  margin-right: 13.9cm;
}
[data-margin-top="13.9"] {
  margin-top: 13.9cm;
}
[data-margin-bottom="13.9"] {
  margin-bottom: 13.9cm;
}
[data-first-line-indent="13.9"] {
  text-indent: 13.9cm;
}
[data-margin-left="14"] {
  margin-left: 14cm;
}
[data-margin-right="14"] {
  margin-right: 14cm;
}
[data-margin-top="14"] {
  margin-top: 14cm;
}
[data-margin-bottom="14"] {
  margin-bottom: 14cm;
}
[data-first-line-indent="14"] {
  text-indent: 14cm;
}
[data-margin-left="14.1"] {
  margin-left: 14.1cm;
}
[data-margin-right="14.1"] {
  margin-right: 14.1cm;
}
[data-margin-top="14.1"] {
  margin-top: 14.1cm;
}
[data-margin-bottom="14.1"] {
  margin-bottom: 14.1cm;
}
[data-first-line-indent="14.1"] {
  text-indent: 14.1cm;
}
[data-margin-left="14.2"] {
  margin-left: 14.2cm;
}
[data-margin-right="14.2"] {
  margin-right: 14.2cm;
}
[data-margin-top="14.2"] {
  margin-top: 14.2cm;
}
[data-margin-bottom="14.2"] {
  margin-bottom: 14.2cm;
}
[data-first-line-indent="14.2"] {
  text-indent: 14.2cm;
}
[data-margin-left="14.3"] {
  margin-left: 14.3cm;
}
[data-margin-right="14.3"] {
  margin-right: 14.3cm;
}
[data-margin-top="14.3"] {
  margin-top: 14.3cm;
}
[data-margin-bottom="14.3"] {
  margin-bottom: 14.3cm;
}
[data-first-line-indent="14.3"] {
  text-indent: 14.3cm;
}
[data-margin-left="14.4"] {
  margin-left: 14.4cm;
}
[data-margin-right="14.4"] {
  margin-right: 14.4cm;
}
[data-margin-top="14.4"] {
  margin-top: 14.4cm;
}
[data-margin-bottom="14.4"] {
  margin-bottom: 14.4cm;
}
[data-first-line-indent="14.4"] {
  text-indent: 14.4cm;
}
[data-margin-left="14.5"] {
  margin-left: 14.5cm;
}
[data-margin-right="14.5"] {
  margin-right: 14.5cm;
}
[data-margin-top="14.5"] {
  margin-top: 14.5cm;
}
[data-margin-bottom="14.5"] {
  margin-bottom: 14.5cm;
}
[data-first-line-indent="14.5"] {
  text-indent: 14.5cm;
}
[data-margin-left="14.6"] {
  margin-left: 14.6cm;
}
[data-margin-right="14.6"] {
  margin-right: 14.6cm;
}
[data-margin-top="14.6"] {
  margin-top: 14.6cm;
}
[data-margin-bottom="14.6"] {
  margin-bottom: 14.6cm;
}
[data-first-line-indent="14.6"] {
  text-indent: 14.6cm;
}
[data-margin-left="14.7"] {
  margin-left: 14.7cm;
}
[data-margin-right="14.7"] {
  margin-right: 14.7cm;
}
[data-margin-top="14.7"] {
  margin-top: 14.7cm;
}
[data-margin-bottom="14.7"] {
  margin-bottom: 14.7cm;
}
[data-first-line-indent="14.7"] {
  text-indent: 14.7cm;
}
[data-margin-left="14.8"] {
  margin-left: 14.8cm;
}
[data-margin-right="14.8"] {
  margin-right: 14.8cm;
}
[data-margin-top="14.8"] {
  margin-top: 14.8cm;
}
[data-margin-bottom="14.8"] {
  margin-bottom: 14.8cm;
}
[data-first-line-indent="14.8"] {
  text-indent: 14.8cm;
}
[data-margin-left="14.9"] {
  margin-left: 14.9cm;
}
[data-margin-right="14.9"] {
  margin-right: 14.9cm;
}
[data-margin-top="14.9"] {
  margin-top: 14.9cm;
}
[data-margin-bottom="14.9"] {
  margin-bottom: 14.9cm;
}
[data-first-line-indent="14.9"] {
  text-indent: 14.9cm;
}
[data-margin-left="15"] {
  margin-left: 15cm;
}
[data-margin-right="15"] {
  margin-right: 15cm;
}
[data-margin-top="15"] {
  margin-top: 15cm;
}
[data-margin-bottom="15"] {
  margin-bottom: 15cm;
}
[data-first-line-indent="15"] {
  text-indent: 15cm;
}
[data-margin-left="15.1"] {
  margin-left: 15.1cm;
}
[data-margin-right="15.1"] {
  margin-right: 15.1cm;
}
[data-margin-top="15.1"] {
  margin-top: 15.1cm;
}
[data-margin-bottom="15.1"] {
  margin-bottom: 15.1cm;
}
[data-first-line-indent="15.1"] {
  text-indent: 15.1cm;
}
[data-margin-left="15.2"] {
  margin-left: 15.2cm;
}
[data-margin-right="15.2"] {
  margin-right: 15.2cm;
}
[data-margin-top="15.2"] {
  margin-top: 15.2cm;
}
[data-margin-bottom="15.2"] {
  margin-bottom: 15.2cm;
}
[data-first-line-indent="15.2"] {
  text-indent: 15.2cm;
}
[data-margin-left="15.3"] {
  margin-left: 15.3cm;
}
[data-margin-right="15.3"] {
  margin-right: 15.3cm;
}
[data-margin-top="15.3"] {
  margin-top: 15.3cm;
}
[data-margin-bottom="15.3"] {
  margin-bottom: 15.3cm;
}
[data-first-line-indent="15.3"] {
  text-indent: 15.3cm;
}
[data-margin-left="15.4"] {
  margin-left: 15.4cm;
}
[data-margin-right="15.4"] {
  margin-right: 15.4cm;
}
[data-margin-top="15.4"] {
  margin-top: 15.4cm;
}
[data-margin-bottom="15.4"] {
  margin-bottom: 15.4cm;
}
[data-first-line-indent="15.4"] {
  text-indent: 15.4cm;
}
[data-margin-left="15.5"] {
  margin-left: 15.5cm;
}
[data-margin-right="15.5"] {
  margin-right: 15.5cm;
}
[data-margin-top="15.5"] {
  margin-top: 15.5cm;
}
[data-margin-bottom="15.5"] {
  margin-bottom: 15.5cm;
}
[data-first-line-indent="15.5"] {
  text-indent: 15.5cm;
}
[data-margin-left="15.6"] {
  margin-left: 15.6cm;
}
[data-margin-right="15.6"] {
  margin-right: 15.6cm;
}
[data-margin-top="15.6"] {
  margin-top: 15.6cm;
}
[data-margin-bottom="15.6"] {
  margin-bottom: 15.6cm;
}
[data-first-line-indent="15.6"] {
  text-indent: 15.6cm;
}
[data-margin-left="15.7"] {
  margin-left: 15.7cm;
}
[data-margin-right="15.7"] {
  margin-right: 15.7cm;
}
[data-margin-top="15.7"] {
  margin-top: 15.7cm;
}
[data-margin-bottom="15.7"] {
  margin-bottom: 15.7cm;
}
[data-first-line-indent="15.7"] {
  text-indent: 15.7cm;
}
[data-margin-left="15.8"] {
  margin-left: 15.8cm;
}
[data-margin-right="15.8"] {
  margin-right: 15.8cm;
}
[data-margin-top="15.8"] {
  margin-top: 15.8cm;
}
[data-margin-bottom="15.8"] {
  margin-bottom: 15.8cm;
}
[data-first-line-indent="15.8"] {
  text-indent: 15.8cm;
}
[data-margin-left="15.9"] {
  margin-left: 15.9cm;
}
[data-margin-right="15.9"] {
  margin-right: 15.9cm;
}
[data-margin-top="15.9"] {
  margin-top: 15.9cm;
}
[data-margin-bottom="15.9"] {
  margin-bottom: 15.9cm;
}
[data-first-line-indent="15.9"] {
  text-indent: 15.9cm;
}
[data-margin-left="16"] {
  margin-left: 16cm;
}
[data-margin-right="16"] {
  margin-right: 16cm;
}
[data-margin-top="16"] {
  margin-top: 16cm;
}
[data-margin-bottom="16"] {
  margin-bottom: 16cm;
}
[data-first-line-indent="16"] {
  text-indent: 16cm;
}
[data-margin-left="16.1"] {
  margin-left: 16.1cm;
}
[data-margin-right="16.1"] {
  margin-right: 16.1cm;
}
[data-margin-top="16.1"] {
  margin-top: 16.1cm;
}
[data-margin-bottom="16.1"] {
  margin-bottom: 16.1cm;
}
[data-first-line-indent="16.1"] {
  text-indent: 16.1cm;
}
[data-margin-left="16.2"] {
  margin-left: 16.2cm;
}
[data-margin-right="16.2"] {
  margin-right: 16.2cm;
}
[data-margin-top="16.2"] {
  margin-top: 16.2cm;
}
[data-margin-bottom="16.2"] {
  margin-bottom: 16.2cm;
}
[data-first-line-indent="16.2"] {
  text-indent: 16.2cm;
}
[data-margin-left="16.3"] {
  margin-left: 16.3cm;
}
[data-margin-right="16.3"] {
  margin-right: 16.3cm;
}
[data-margin-top="16.3"] {
  margin-top: 16.3cm;
}
[data-margin-bottom="16.3"] {
  margin-bottom: 16.3cm;
}
[data-first-line-indent="16.3"] {
  text-indent: 16.3cm;
}
[data-margin-left="16.4"] {
  margin-left: 16.4cm;
}
[data-margin-right="16.4"] {
  margin-right: 16.4cm;
}
[data-margin-top="16.4"] {
  margin-top: 16.4cm;
}
[data-margin-bottom="16.4"] {
  margin-bottom: 16.4cm;
}
[data-first-line-indent="16.4"] {
  text-indent: 16.4cm;
}
[data-margin-left="16.5"] {
  margin-left: 16.5cm;
}
[data-margin-right="16.5"] {
  margin-right: 16.5cm;
}
[data-margin-top="16.5"] {
  margin-top: 16.5cm;
}
[data-margin-bottom="16.5"] {
  margin-bottom: 16.5cm;
}
[data-first-line-indent="16.5"] {
  text-indent: 16.5cm;
}
[data-margin-left="16.6"] {
  margin-left: 16.6cm;
}
[data-margin-right="16.6"] {
  margin-right: 16.6cm;
}
[data-margin-top="16.6"] {
  margin-top: 16.6cm;
}
[data-margin-bottom="16.6"] {
  margin-bottom: 16.6cm;
}
[data-first-line-indent="16.6"] {
  text-indent: 16.6cm;
}
[data-margin-left="16.7"] {
  margin-left: 16.7cm;
}
[data-margin-right="16.7"] {
  margin-right: 16.7cm;
}
[data-margin-top="16.7"] {
  margin-top: 16.7cm;
}
[data-margin-bottom="16.7"] {
  margin-bottom: 16.7cm;
}
[data-first-line-indent="16.7"] {
  text-indent: 16.7cm;
}
[data-margin-left="16.8"] {
  margin-left: 16.8cm;
}
[data-margin-right="16.8"] {
  margin-right: 16.8cm;
}
[data-margin-top="16.8"] {
  margin-top: 16.8cm;
}
[data-margin-bottom="16.8"] {
  margin-bottom: 16.8cm;
}
[data-first-line-indent="16.8"] {
  text-indent: 16.8cm;
}
[data-margin-left="16.9"] {
  margin-left: 16.9cm;
}
[data-margin-right="16.9"] {
  margin-right: 16.9cm;
}
[data-margin-top="16.9"] {
  margin-top: 16.9cm;
}
[data-margin-bottom="16.9"] {
  margin-bottom: 16.9cm;
}
[data-first-line-indent="16.9"] {
  text-indent: 16.9cm;
}
[data-margin-left="17"] {
  margin-left: 17cm;
}
[data-margin-right="17"] {
  margin-right: 17cm;
}
[data-margin-top="17"] {
  margin-top: 17cm;
}
[data-margin-bottom="17"] {
  margin-bottom: 17cm;
}
[data-first-line-indent="17"] {
  text-indent: 17cm;
}
[data-margin-left="17.1"] {
  margin-left: 17.1cm;
}
[data-margin-right="17.1"] {
  margin-right: 17.1cm;
}
[data-margin-top="17.1"] {
  margin-top: 17.1cm;
}
[data-margin-bottom="17.1"] {
  margin-bottom: 17.1cm;
}
[data-first-line-indent="17.1"] {
  text-indent: 17.1cm;
}
[data-margin-left="17.2"] {
  margin-left: 17.2cm;
}
[data-margin-right="17.2"] {
  margin-right: 17.2cm;
}
[data-margin-top="17.2"] {
  margin-top: 17.2cm;
}
[data-margin-bottom="17.2"] {
  margin-bottom: 17.2cm;
}
[data-first-line-indent="17.2"] {
  text-indent: 17.2cm;
}
[data-margin-left="17.3"] {
  margin-left: 17.3cm;
}
[data-margin-right="17.3"] {
  margin-right: 17.3cm;
}
[data-margin-top="17.3"] {
  margin-top: 17.3cm;
}
[data-margin-bottom="17.3"] {
  margin-bottom: 17.3cm;
}
[data-first-line-indent="17.3"] {
  text-indent: 17.3cm;
}
[data-margin-left="17.4"] {
  margin-left: 17.4cm;
}
[data-margin-right="17.4"] {
  margin-right: 17.4cm;
}
[data-margin-top="17.4"] {
  margin-top: 17.4cm;
}
[data-margin-bottom="17.4"] {
  margin-bottom: 17.4cm;
}
[data-first-line-indent="17.4"] {
  text-indent: 17.4cm;
}
[data-margin-left="17.5"] {
  margin-left: 17.5cm;
}
[data-margin-right="17.5"] {
  margin-right: 17.5cm;
}
[data-margin-top="17.5"] {
  margin-top: 17.5cm;
}
[data-margin-bottom="17.5"] {
  margin-bottom: 17.5cm;
}
[data-first-line-indent="17.5"] {
  text-indent: 17.5cm;
}
[data-margin-left="17.6"] {
  margin-left: 17.6cm;
}
[data-margin-right="17.6"] {
  margin-right: 17.6cm;
}
[data-margin-top="17.6"] {
  margin-top: 17.6cm;
}
[data-margin-bottom="17.6"] {
  margin-bottom: 17.6cm;
}
[data-first-line-indent="17.6"] {
  text-indent: 17.6cm;
}
[data-margin-left="17.7"] {
  margin-left: 17.7cm;
}
[data-margin-right="17.7"] {
  margin-right: 17.7cm;
}
[data-margin-top="17.7"] {
  margin-top: 17.7cm;
}
[data-margin-bottom="17.7"] {
  margin-bottom: 17.7cm;
}
[data-first-line-indent="17.7"] {
  text-indent: 17.7cm;
}
[data-margin-left="17.8"] {
  margin-left: 17.8cm;
}
[data-margin-right="17.8"] {
  margin-right: 17.8cm;
}
[data-margin-top="17.8"] {
  margin-top: 17.8cm;
}
[data-margin-bottom="17.8"] {
  margin-bottom: 17.8cm;
}
[data-first-line-indent="17.8"] {
  text-indent: 17.8cm;
}
[data-margin-left="17.9"] {
  margin-left: 17.9cm;
}
[data-margin-right="17.9"] {
  margin-right: 17.9cm;
}
[data-margin-top="17.9"] {
  margin-top: 17.9cm;
}
[data-margin-bottom="17.9"] {
  margin-bottom: 17.9cm;
}
[data-first-line-indent="17.9"] {
  text-indent: 17.9cm;
}
[data-margin-left="18"] {
  margin-left: 18cm;
}
[data-margin-right="18"] {
  margin-right: 18cm;
}
[data-margin-top="18"] {
  margin-top: 18cm;
}
[data-margin-bottom="18"] {
  margin-bottom: 18cm;
}
[data-first-line-indent="18"] {
  text-indent: 18cm;
}
[data-margin-left="18.1"] {
  margin-left: 18.1cm;
}
[data-margin-right="18.1"] {
  margin-right: 18.1cm;
}
[data-margin-top="18.1"] {
  margin-top: 18.1cm;
}
[data-margin-bottom="18.1"] {
  margin-bottom: 18.1cm;
}
[data-first-line-indent="18.1"] {
  text-indent: 18.1cm;
}
[data-margin-left="18.2"] {
  margin-left: 18.2cm;
}
[data-margin-right="18.2"] {
  margin-right: 18.2cm;
}
[data-margin-top="18.2"] {
  margin-top: 18.2cm;
}
[data-margin-bottom="18.2"] {
  margin-bottom: 18.2cm;
}
[data-first-line-indent="18.2"] {
  text-indent: 18.2cm;
}
[data-margin-left="18.3"] {
  margin-left: 18.3cm;
}
[data-margin-right="18.3"] {
  margin-right: 18.3cm;
}
[data-margin-top="18.3"] {
  margin-top: 18.3cm;
}
[data-margin-bottom="18.3"] {
  margin-bottom: 18.3cm;
}
[data-first-line-indent="18.3"] {
  text-indent: 18.3cm;
}
[data-margin-left="18.4"] {
  margin-left: 18.4cm;
}
[data-margin-right="18.4"] {
  margin-right: 18.4cm;
}
[data-margin-top="18.4"] {
  margin-top: 18.4cm;
}
[data-margin-bottom="18.4"] {
  margin-bottom: 18.4cm;
}
[data-first-line-indent="18.4"] {
  text-indent: 18.4cm;
}
[data-margin-left="18.5"] {
  margin-left: 18.5cm;
}
[data-margin-right="18.5"] {
  margin-right: 18.5cm;
}
[data-margin-top="18.5"] {
  margin-top: 18.5cm;
}
[data-margin-bottom="18.5"] {
  margin-bottom: 18.5cm;
}
[data-first-line-indent="18.5"] {
  text-indent: 18.5cm;
}
[data-margin-left="18.6"] {
  margin-left: 18.6cm;
}
[data-margin-right="18.6"] {
  margin-right: 18.6cm;
}
[data-margin-top="18.6"] {
  margin-top: 18.6cm;
}
[data-margin-bottom="18.6"] {
  margin-bottom: 18.6cm;
}
[data-first-line-indent="18.6"] {
  text-indent: 18.6cm;
}
[data-margin-left="18.7"] {
  margin-left: 18.7cm;
}
[data-margin-right="18.7"] {
  margin-right: 18.7cm;
}
[data-margin-top="18.7"] {
  margin-top: 18.7cm;
}
[data-margin-bottom="18.7"] {
  margin-bottom: 18.7cm;
}
[data-first-line-indent="18.7"] {
  text-indent: 18.7cm;
}
[data-margin-left="18.8"] {
  margin-left: 18.8cm;
}
[data-margin-right="18.8"] {
  margin-right: 18.8cm;
}
[data-margin-top="18.8"] {
  margin-top: 18.8cm;
}
[data-margin-bottom="18.8"] {
  margin-bottom: 18.8cm;
}
[data-first-line-indent="18.8"] {
  text-indent: 18.8cm;
}
[data-margin-left="18.9"] {
  margin-left: 18.9cm;
}
[data-margin-right="18.9"] {
  margin-right: 18.9cm;
}
[data-margin-top="18.9"] {
  margin-top: 18.9cm;
}
[data-margin-bottom="18.9"] {
  margin-bottom: 18.9cm;
}
[data-first-line-indent="18.9"] {
  text-indent: 18.9cm;
}
[data-margin-left="19"] {
  margin-left: 19cm;
}
[data-margin-right="19"] {
  margin-right: 19cm;
}
[data-margin-top="19"] {
  margin-top: 19cm;
}
[data-margin-bottom="19"] {
  margin-bottom: 19cm;
}
[data-first-line-indent="19"] {
  text-indent: 19cm;
}
[data-margin-left="19.1"] {
  margin-left: 19.1cm;
}
[data-margin-right="19.1"] {
  margin-right: 19.1cm;
}
[data-margin-top="19.1"] {
  margin-top: 19.1cm;
}
[data-margin-bottom="19.1"] {
  margin-bottom: 19.1cm;
}
[data-first-line-indent="19.1"] {
  text-indent: 19.1cm;
}
[data-margin-left="19.2"] {
  margin-left: 19.2cm;
}
[data-margin-right="19.2"] {
  margin-right: 19.2cm;
}
[data-margin-top="19.2"] {
  margin-top: 19.2cm;
}
[data-margin-bottom="19.2"] {
  margin-bottom: 19.2cm;
}
[data-first-line-indent="19.2"] {
  text-indent: 19.2cm;
}
[data-margin-left="19.3"] {
  margin-left: 19.3cm;
}
[data-margin-right="19.3"] {
  margin-right: 19.3cm;
}
[data-margin-top="19.3"] {
  margin-top: 19.3cm;
}
[data-margin-bottom="19.3"] {
  margin-bottom: 19.3cm;
}
[data-first-line-indent="19.3"] {
  text-indent: 19.3cm;
}
[data-margin-left="19.4"] {
  margin-left: 19.4cm;
}
[data-margin-right="19.4"] {
  margin-right: 19.4cm;
}
[data-margin-top="19.4"] {
  margin-top: 19.4cm;
}
[data-margin-bottom="19.4"] {
  margin-bottom: 19.4cm;
}
[data-first-line-indent="19.4"] {
  text-indent: 19.4cm;
}
[data-margin-left="19.5"] {
  margin-left: 19.5cm;
}
[data-margin-right="19.5"] {
  margin-right: 19.5cm;
}
[data-margin-top="19.5"] {
  margin-top: 19.5cm;
}
[data-margin-bottom="19.5"] {
  margin-bottom: 19.5cm;
}
[data-first-line-indent="19.5"] {
  text-indent: 19.5cm;
}
[data-margin-left="19.6"] {
  margin-left: 19.6cm;
}
[data-margin-right="19.6"] {
  margin-right: 19.6cm;
}
[data-margin-top="19.6"] {
  margin-top: 19.6cm;
}
[data-margin-bottom="19.6"] {
  margin-bottom: 19.6cm;
}
[data-first-line-indent="19.6"] {
  text-indent: 19.6cm;
}
[data-margin-left="19.7"] {
  margin-left: 19.7cm;
}
[data-margin-right="19.7"] {
  margin-right: 19.7cm;
}
[data-margin-top="19.7"] {
  margin-top: 19.7cm;
}
[data-margin-bottom="19.7"] {
  margin-bottom: 19.7cm;
}
[data-first-line-indent="19.7"] {
  text-indent: 19.7cm;
}
[data-margin-left="19.8"] {
  margin-left: 19.8cm;
}
[data-margin-right="19.8"] {
  margin-right: 19.8cm;
}
[data-margin-top="19.8"] {
  margin-top: 19.8cm;
}
[data-margin-bottom="19.8"] {
  margin-bottom: 19.8cm;
}
[data-first-line-indent="19.8"] {
  text-indent: 19.8cm;
}
[data-margin-left="19.9"] {
  margin-left: 19.9cm;
}
[data-margin-right="19.9"] {
  margin-right: 19.9cm;
}
[data-margin-top="19.9"] {
  margin-top: 19.9cm;
}
[data-margin-bottom="19.9"] {
  margin-bottom: 19.9cm;
}
[data-first-line-indent="19.9"] {
  text-indent: 19.9cm;
}
[data-margin-left="20"] {
  margin-left: 20cm;
}
[data-margin-right="20"] {
  margin-right: 20cm;
}
[data-margin-top="20"] {
  margin-top: 20cm;
}
[data-margin-bottom="20"] {
  margin-bottom: 20cm;
}
[data-first-line-indent="20"] {
  text-indent: 20cm;
}
